{% extends 'flexible/base1.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    
  </nav>
 

  <h2 class="mb-3">Add a new appreciation about partenaire's offers</h2>
  <div class="row mb-3">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save changes</button>
     
      </form>
    </div>
  </div>
  
   

{% endblock %}