{% extends 'flexible/base2.html' %}

{% load crispy_forms_tags %}

{% block content %}




 <table class="table mb-0">
      <thead>
        <tr>
          <th>designation</th>
          <th>entrepot</th>
          <th>refproduit</th>
          <th>categorie</th>
          <th>state</th>
        </tr>
      </thead>
      <tbody>
        {% for place in mesplaces %}
          <tr>
            <td class="align-middle">
             <a href="{% url 'placerProduit' place.pk %}" class="btn btn-primary">{{ place.designation }}</a></td>
            <td class="align-middle">{{ place.entrepot }}</td>
            <td class="align-middle">{{ place.refproduit }}</td>
            <td class="align-middle">{{ place.categorie }}</td>
            <td class="align-middle">{{ place.state }} </td>
            <td class="text-right">
            
            </td>
          </tr>
          

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Sorry, no places in this list.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}









