

{% extends 'flexible/base2.html' %}

{% load crispy_forms_tags %}

{% block content %}




 <table class="table mb-0">
      <thead>
        <tr>
           
          <th>client</th>
          <th>message</th>
          <th>partenaire</th>
          <th>qualité</th>
          <th>Date</th>
      
        </tr>
      </thead>
      <tbody>
        {% for appreciation in appreciations %}
          <tr>
            
            
            <td class="align-middle">{{ appreciation.client }}</td>
            <td class="align-middle" style="width:300px">{{ appreciation.message }}</td>
            <td class="align-middle">{{ appreciation.partenaire }}</td>
            <td class="align-middle">{{ appreciation.qualite }}/5 </td>
            <td class="align-middle">{{ appreciation.Date }} </td>
           
            
            </td>
          </tr>
          

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Sorry, no appreciations in this list.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}