{% extends 'flexible/base3.html' %}
 


    {% block content3 %}
    {% load staticfiles %}
 
 {% if entrepotsRecherche %}
  

{% for entrepot in entrepotsRecherche %}
    <p><b>entrepôt {{entrepot.designation}}</b> {{entrepot.adresse}}</p>
    
    {% endfor %}
{% endif %}


  {% if autres %}
{% for autre in autres %}
    <p><b>{{autre.nom}}</b> {{autre.adresse}}</p>
    
    
    {% endfor %}
{% endif %}




{% endblock %}
{% block content  %}

<div class="card bg-info text-white">
    <div class="card-body">

       {% if taches %}
         <h3 class="mb-3">
          Mes tâches  <img src="{{ MEDIA_URL }}timer.png "  height="35" width="35"  /></h3>
<h5 class="mb-3">Vous aurez une tâche après chaque acceptation de livraison. </h5>

         
 
{% endif %}
 {% for tache in taches %}
          <tr><b>Offre: {{tache.offre.designation }}</b></tr><br>
          <tr>Client: {{ tache.client }}</tr><br>
          <tr>départ: {{ tache.offre.offre.depart }}</tr><br>
          <tr>arrivé: {{ tache.offre.offre.arrive }}</tr><br>
          <tr>date d'arrivée : {{ tache.offre.offre.datearrive }}</tr><br>
          <tr>adresse : {{ tache.offre.offre.adresse }} - adresse 2: {{ tache.offre.offre.adresse2 }}</tr><br>
          <tr>Référence Produit: {{ tache.offre.offre.produit.refproduit }}</tr><br>
          <tr>quantité :{{ tache.offre.offre.quantité }}</tr>
          </br></br>
         
 {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Sorry, no taches in this list.</td>
          </tr>
{% endfor %}</div>
  </div>
</br></br>
<h3 class="mb-3">Les trajets</h3>

<a href="" class="btn btn-info " role="button" style="width: 25%;">Ajouter un trajet</a>



<table  class="table table-striped">
      <thead>
        <tr>
          <th>voyage</th>
          <th>camion </th>
          <th>date</th>
          <th>effectué</th>
          <th>en cours </th>
          
        </tr>
      </thead>
      <tbody>
        {% for trajet in trajets %}
           <td class="align-middle">
             <a href="" class="btn btn-primary">{{ trajet.voyage }}</a></td>
          
           
            <td class="align-middle">{{ trajet.camion }}  </td>
            <td class="align-middle">{{ trajet.date }}  </td>
           
             <td class="align-middle">{% if  trajet.effectue == True %}  
             <button type="button" class="btn btn-success">Oui</button>
              {% else %}
              <button type="button" class="btn btn-light">Non</button>

               {% endif %} </td>
             <td class="align-middle">{% if trajet.encours == True %}
              <button type="button" class="btn btn-success">Oui</button>
              {% else %}
              <button type="button" class="btn btn-light">Non</button>

               {% endif %}  </td>
            
           
          </tr>
          

        {% empty %}
          <tr>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
 

 <h3 class="mb-3">Mes Camions</h3>

<a href="" class="btn btn-info " role="button" style="width: 25%;">Ajouter un camion</a>



<table  class="table table-striped">
      <thead>
        <tr>
          <th>designation</th>
          <th>palettes max</th>
          <th>aperçu</th>
          <th>plein</th>
          <th>est disponible ?</th>
          
        </tr>
      </thead>
      <tbody>
        {% for camion in camions %}
           <td class="align-middle">
             <a href="" class="btn btn-primary">{{ camion.designation }}</a></td>
          
           
            <td class="align-middle">{{ camion.nb_palettes }}  </td>
             <td class="align-middle"><img src="{{ MEDIA_URL }}{{ camion.photo }} "  height="100" width="120"  />  </td>
             <td class="align-middle">{% if  camion.plein == True %}  
             <button type="button" class="btn btn-success">Oui</button>
              {% else %}
              <button type="button" class="btn btn-light">Non</button>

               {% endif %} </td>
             <td class="align-middle">{% if camion.disponible == True %}
              <button type="button" class="btn btn-success">Oui</button>
              {% else %}
              <button type="button" class="btn btn-light">Non</button>

               {% endif %}  </td>
            
           
          </tr>
          

        {% empty %}
          <tr>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>



 
{% endblock %}


 
 {% block content2 %}

<div class="list-group">
   {% for message in messagesT %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
       <img src=" {{ MEDIA_URL }}msg.png" width="35"  heigth="35"/> 
      <h4 class="mb-1">admin</h4>
      <small> {{ message.Date }}</small>
    </div>
    <p class="mb-1">{{ message.text }}</small>
  </a>
 {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Vous n'avez aucun message.</td>
          </tr>
        {% endfor %}
</div>
{% endblock %} 