{% extends 'flexible/base2.html' %}
 


    {% block content3 %}
    {% load staticfiles %}
 
 {% if entrepotsRecherche %}
  

{% for entrepot in entrepotsRecherche %}
    <p><b>entrepôt {{entrepot.designation}}</b> {{entrepot.adresse}}</p>
    
    {% endfor %}
{% endif %}


  {% if autres %}
{% for autre in autres %}
    <p><b>{{autre.nom}}</b> {{autre.adresse}}</p>
    
    
    {% endfor %}
{% endif %}


   

{% endblock %}
{% block content  %}
<div class="card bg-info text-white">
    <div class="card-body">

       {% if taches %}
         <h3 class="mb-3">
          Mes tâches  <img src="{{ MEDIA_URL }}timer.png "  height="35" width="35"  /></h3>
<h5 class="mb-3">Vous aurez une tâche après chaque acceptation de livraison. </h5>

         
 
{% endif %}
 {% for tache in taches %}
          <tr>Offre: {{tache.offre.offre.designation }}</tr><br>
          <tr>Client: {{ tache.client }}</tr><br>
          <tr>Entrepôt: {{ tache.offre.entrepot.designation }}</tr><br>
          <tr>Produit: {{ tache.offre.offre.produit.refproduit }}</tr><br>
          <tr>quantité :{{ tache.offre.offre.quantité }}</tr>
         
 {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Aucune tâche pour le moment.</td>
          </tr>
{% endfor %}</div>
  </div>
</br>
 <h3 class="mb-3">Mes entrepôts </h3>

<a href="{% url 'entrepot_ajout' %}" class="btn btn-info " role="button" style="width: 30%;">Ajouter un entrepôt</a>


 <table class="table table-striped">
      <thead>
        <tr>
          <th>aperçu</th>
          <th>Désignation</th>
         
          
          <th>spécificité</th>
          <th>capacité</th>
          <th>ville</th>
          
          
         
        </tr>
      </thead>
      <tbody>
        {% for entrepot in entrepots %}
          <tr>
            <td class="align-middle"  ><img src="{{ MEDIA_URL }}{{ entrepot.photo }} "  height="100" width="100"  /></td>
            
            <td class="align-middle"><b>{{ entrepot.designation }}</b></td>
          
            <td class="align-middle">{{ entrepot.specificite }}</td>
            <td class="align-middle">{{ entrepot.capacite }}</td>
            <td class="align-middle">{{ entrepot.city }}</td>
            
           
          </tr>
          

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Sorry, no entrepot in this list.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

<h3 class="mb-3">Mon stock</h3>
 <table class="table  table-striped table-wrapper-scroll-y my-custom-scrollbar">
      <thead>
        <tr>
          <th>référence produit</th>
          <th>entrepôt</th>
          
          <th>quantité disponible</th>
          
          
        
        </tr>
      </thead>
      <tbody>
        
         {% for cal in calcul %}
          <tr>
            <td class="align-middle">
             <a href="" class="btn btn-primary">{{cal.refproduit }}</a></td>
            
            <td class="align-middle">

               {{ cal.entrepot__designation}}

              
          </td>
            <td class="align-middle">{{ cal.c }}</td>
            
            
            
           
          </tr>
          

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">aucun produit dans le stock</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
       









<h3 class="mb-3">Mes Places </h3>

<a href="{% url 'place_ajout' %}" class="btn btn-info " role="button" style="width: 25%;">Ajouter des places</a>

<p><a href="" class="btn btn-success">rempli </a> et <a href="" class="btn btn-secondary">vide </a></p>
 
   <section class="row" > 

    {% for ent in ents %}
    <h4 class="mb-3">{{ent.designation }} </h4>


<div class="row col-md-12">
  
 {% for place in ent.places.all %}
       


        <div class="col-md-3  border ">
            <div class="image-container">
               </br>
            </div>

            {% if place.state  %}

             <a href="{% url 'placerProduit' place.pk %}" class="btn btn-success">{{ place.designation }}  </a>
             {{ place.categorie }}

              {% endif %}
            {% if not place.state  %}
             <a href="{% url 'placerProduit' place.pk %}" class="btn btn-secondary">{{ place.designation }} </a>
              {{ place.categorie }}
            {% endif %}
            <div class="image-container">
               </br>
            </div>

        </div>
         </br>        
    {% endfor %}
  <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
      {% endfor %}
      </div>
 </section >


{% endblock %}


 
 {% block content2 %}

<div class="list-group">
   {% for message in messages %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
       <img src=" {{ MEDIA_URL }}msg.png" width="35"  heigth="35"/> 
      <h4 class="mb-1">admin</h4>
      <small> {{ message.Date }}</small>
    </div>
    <p class="mb-1">{{ message.text }}</small>
  </a>
 {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Vous n'avez aucun message.</td>
          </tr>

        {% endfor %}
</div>

{% endblock %} 