

{% extends 'flexible/base1.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    
  </nav>
  <h2 class="mb-3">Mes Entrepôts</h2>
  <h3 class="mb-3">Cliquer sur un entrepôt pour augmenter la surface</h3>
    
  <div class="card">
    


{% for depot in depots %}

    <div class="offres">


       <h3><a href="{% url 'unentrepot' depot.pk %}">{{ depot.designation }}</a></h3>
       
       <p><a href="{% url 'lesplaces' depot.pk %}"> voir les places</a></p>
       <p>---- à {{ depot.region}}</p>
       <p>---- à {{ depot.specificite}}</p>


      

    </div>
{% empty %}
    <li>Sorry, no depot in this list.</li>
{% endfor %}
  </div>



{% endblock %}
