{% extends 'flexible/base2.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
   

  </nav>
  <h2 class="mb-3">Mes Tarifs </h2>

  </br>
  </br>


    <div class="card">
    

<table class="table mb-0">
      <thead>
        <tr>
          <th>designation</th>
          <th>départ</th>
          <th>arrivé</th>
          <th>palettes</th>
          <th>categorie</th>
          <th>prix</th>
        
        </tr>
      </thead>
      <tbody>
        {% for tarif in tarifs %}
          <tr>
           
            <td class="align-middle">{{ tarif.designation }}</td>
            <td class="align-middle">{{ tarif.depart }}</td>
            <td class="align-middle">{{ tarif.arrive }}</td>
            <td class="align-middle">{{ tarif.nb_palettes }} </td>
            <td class="align-middle">{{ tarif.categorie }} </td>
            <td class="align-middle">{{ tarif.prix }} </td>
            <td class="text-right">
            
            </td>
          </tr>
          

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">tarif, no livraison in this list.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}


{% block content2 %}
 <table class="table table-striped">
      <thead>
        <tr>
          
          <th>message</th>
          <th>Date</th>
          
        </tr>
      </thead>
      <tbody>
        {% for message in messages %}
          <tr>
              
            
            <td class="align-middle">{{ message.text }}</td>
            <td class="align-middle">{{ message.Date }}</td>
           
         
            </td>
          </tr>
          

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Sorry, no message in this list.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %} 
