{% extends 'flexible/base2.html' %}

    {% block content3 %}
    {% load staticfiles %}


 {% if entrepotsRecherche %}
  

{% for recherche in entrepotsRecherche %}
    <p><b>{{recherche.designation}}</b> {{recherche.adresse}}</p>
    
    {% endfor %}


 
  
{% for recherche1 in autres %}
    <p><b>{{recherche1.nom}}</b> {{recherche1.adresse}}</p>
    
    
    {% endfor %}
{% endif %}

   

{% endblock %}

{% block content %}


<h3 class="mb-3">Mes offres reçues </h3>

 {% if not offres %}
 <a href="" class="btn btn-danger " role="button" style="width: 25%;">Répondre</a>
  {% endif %}
  {% if offres %}
 <a href="{% url 'reponses' %}" class="btn btn-info " role="button" style="width: 25%;">Répondre</a>
  {% endif %}

 <table class="table table-striped">
      <thead>
        <tr>
          <th>designation</th>
          <th>client</th>
          <th>produit</th>
          <th>entrepot</th>
          <th>categorie</th>
           <th>quantité</th>
            <th>date arrivée</th>
          <th>Date</th>
          <th>Prix</th>
          <th>Accord</th>
          
          <th>Répondre</th>

          
        
        </tr>
      </thead>
      <tbody>
        {% for offre in offres %}
          <tr>
           

             <td class="align-middle">
              
              
               <b>{{offre.offre.designation }}</b></td>
               
             
                
           
            <td class="align-middle">{{ offre.client }}</td>
            <td class="align-middle">{{ offre.offre.produit.designation }}</td>
            <td class="align-middle">{{ offre.entrepot }}</td>
            <td class="align-middle">{{ offre.offre.categorie }}</td>
            <td class="align-middle">{{ offre.offre.quantité }}</td>
            <td class="align-middle">{{ offre.offre.datearrive }}</td>
            <td class="align-middle">{{ offre.Date }}</td>
            <td class="align-middle">{% for tarif in tarifs %}{% if tarif.nb_palettes == offre.offre.quantité and tarif.entrepot ==  offre.entrepot %}
             

              {{ tarif.prix }}€
            {% endif %} {% endfor %}</td>

            <td class="align-middle">{% for reponse in reponses %}

              {% if reponse.offre.offre.designation == offre.offre.designation  and reponse.client == offre.client  %} 
                 {% if  reponse.is_accepted %}   <img src=" {{ MEDIA_URL }}photos/yes.png" height="19" width="19" /> 
                 {% elif not reponse.is_accepted   %}  <img src=" {{ MEDIA_URL }}photos/non.png" height="19" width="19" />
              
             
                 {% endif %} 
              
            {% endif %} {% endfor %} </td>
            
                 <td class="align-middle">
              
              {% if  offre.Date|date:"Y-m-d" >= espace|date:"Y-m-d"      %} 
                
             <b>dépassée</b>
              
              {% else    %} 
                
               <a href="{% url 'repond' offre.pk %}" class="btn btn-primary">Repondre</a></td>
               
             
                 {% endif %} 
              
              </td>
            
            <td class="text-right">
            
            </td>
          </tr>
          

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Aucune offre.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


 {% if taches %}
         <div >

          <tr>
            <a href="{% url 'mesEntrepots' %}" >Vous avez une tâche à faire <img src=" {{ MEDIA_URL }}timer.png" height="50" width="50" /></a>
          </tr>
         </div >

 
{% endif %}
</br>


<h3 class="mb-3">Mes Livraisons et enlèvements </h3>
 <table class="table table-striped">
      <thead>
        <tr>
          <th>designation</th>
          <th>transporteur</th>
          <th>client</th>
           <th>entrepot</th>
           <th>produit</th>
          <th>livraison</th>
           <th>enlèvement</th>
          <th>date d'arrivée</th>
           <th>nb_palettes</th>
         
        
        </tr>
      </thead>
      <tbody>
        {% for suivitt in OffresCommandes %}
                  {% for entrepot in entrepots %}
       
            {% if  suivitt.is_accepted %} 
            {% if entrepot.adresse in suivitt.offre.offre.adresse or entrepot.adresse in suivitt.offre.offre.adresse2 %} 
          <tr>
            <td class="align-middle">
             <a href="" class="btn btn-primary">{{suivitt.offre.offre.designation }}</a></td>
            <td class="align-middle">{{ suivitt.transporteur }}</td>
            <td class="align-middle">{{ suivitt.client }}</td>
            <td class="align-middle">{{ entrepot.designation }}</td>
            <td class="align-middle">{{ suivitt.offre.offre.produit }}</td>

            <td class="align-middle">{% if  suivitt.offre.offre.livraison == True %}  
             <button type="button" class="btn btn-success">Oui</button>
              {% else %}
              <button type="button" class="btn btn-light">Non</button>

               {% endif %} </td>
           
            <td class="align-middle">{% if suivitt.offre.offre.enlevement == True %}
              <button type="button" class="btn btn-success">Oui</button>
              {% else %}
              <button type="button" class="btn btn-light">Non</button>

               {% endif %}  </td>
            
          
             <td class="align-middle">{{ suivitt.offre.offre.datearrive }}</td>
            <td class="align-middle">{{ suivitt.offre.offre.quantité }}</td>
            
            <td class="text-right">
            
            </td>
          </tr>
          
           {% endif %} {% endif %} 
               {% endfor %}
        

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">aucune offre </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

</br></br>

<a href="{% url 'appreciations' %}" class="btn btn-info  mb-3 " role="button" style="width: 25%;">Voir les appréciations</a>





{% endblock %} 

{% block content2 %}

<div class="list-group">
   {% for message in messages %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
       <img src=" {{ MEDIA_URL }}msg.png" width="35"  heigth="35"/> 
      <h4 class="mb-1">admin</h4>
      <small> {{ message.Date }}</small>
    </div>
    <p class="mb-1">{{ message.text }}</small>
  </a>
 {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Vous n'avez aucun message.</td>
          </tr>
        {% endfor %}
</div>
{% endblock %}