{% extends 'flexible/base1.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    
    </ol>
  </nav>
  <h2 class="mb-3">Ma liste d'offres envoyées </h2>
  
  <div class="card">
    


{% for offre in offres %}

    <div class="offres">

       <h3><a href="{% url 'nouvelleOffre' offre.pk %}">{{ offre.designation }}</a> </h3>

       <p>--- chez {{ offre.partenaire}}--- le {{ offre.Date}}</p>

      

    </div>

{% endfor %}
  </div>
<a href="{% url 'offre_ajout' %}" class="btn btn-primary " role="button">Ajouter offre</a>

<a href="{% url 'reponsesClient' %}" class="btn btn-info " role="button">Repondre Offre</a>
<a href="{% url 'entrepotInfo' %}" class="btn btn-info " role="button">Consulter Entrepots</a>
<a href="{% url 'appreciations' %}" class="btn btn-info " role="button">Voir les appréciations</a>
<a href="{% url 'show' %}" class="btn btn-info " role="button">Infos Partenaires</a>


{% endblock %}

