

{% extends 'flexible/base2.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    
  </nav>
  <h2 class="mb-3">Mes Offres reçues</h2>
  
  <div class="card">
    


{% for offre in offresP %}

    <div class="offres">

       <p>{{ offre.designation }} ---- de {{ offre.client}}--- le {{ offre.Date}}</p>


       

      

    </div>
{% empty %}
    <li>Sorry, no offre in this list.</li>
{% endfor %}
  </div>


<a href="{% url 'reponses' %}" class="btn btn-info mb-3" role="button">Repondre Offre</a>

<a href="{% url 'mesEntrepots' %}" class="btn btn-primary mb-3 " role="button">Consulter Entrepots</a>
<a href="{% url 'appreciations' %}" class="btn btn-info  mb-3 " role="button">Voir les appréciations</a>
<a href="{% url 'showP' %}" class="btn btn-info mb-3 " role="button">Infos Partenaires</a>


{% endblock %}

{% block content2 %}

    <ol class="breadcrumb">
    
    </ol>
  </nav>
  <h2 class="mb-3">Informations Plateformes</h2>
  
  <div class="card">
    


{% for partenaire in partenaires %}
 <h3> {{ partenaire.user }}</h3>
<table class="table mb-0">
      <thead>
        <tr>
          <th>designation</th>
          <th>entrepot</th>
          <th>refproduit</th>
          <th>categorie</th>
          <th>state</th>
        </tr>
      </thead>
      <tbody>
        {% for place in partenaire.places.all %}
          <tr>
            <td class="align-middle">
            {{ place.designation }}</td>
            <td class="align-middle">{{ place.entrepot }}</td>
            <td class="align-middle">{{ place.refproduit }}</td>
            <td class="align-middle">{{ place.categorie }}</td>
            <td class="align-middle">{{ place.state }} </td>
            <td class="text-right">
            
            </td>
          </tr>
          

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Sorry, no places in this list.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
   {% endfor %}
  </div>
<a href="{% url 'chart' %}" class="btn btn-info " role="button">Afficher Statistiques</a>


  <h3>{{ chartTitle|safe }}</h3>
  <div id="chart-1">{{ output|safe }}</div>
  <div id="chart-2">{{ output_2|safe }}</div>
  <br/>


{% endblock %}