{% extends 'flexible/base1.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    
    </ol>
  </nav>
  <h2 class="mb-3">Mes reponses </h2>
  
  <div class="card">
    


{% for reponse in myreponses %}

    <div class="offres">

       
       <p><b>{{ reponse.offre }}</b> is accepted : <b> {{ reponse.is_accepted}}</b> par  <b>{{ reponse.partenaire }}</b></b></p>
       <p>Commentaire: <b>{{ reponse.nom }}</b> </p>

       

      

    </div>

{% endfor %}
  </div>

<a href="{% url 'uneAppreciation' %}" class="btn btn-info " role="button">Ajouter une appréciation</a>





{% endblock %}