{% extends 'flexible/base1.html' %}
 


    {% block content3 %}
    {% load staticfiles %}
 
 {% if entrepots %}
  

{% for entrepot in entrepots %}
    <p><b>entrepôt {{entrepot.designation}}</b> {{entrepot.adresse}}</p>
    
    {% endfor %}
{% endif %}


  {% if autres %}
{% for autre in autres %}
    <p><b>{{autre.nom}}</b> {{autre.adresse}}</p>
    
    
    {% endfor %}
{% endif %}
{% if departs %}
{% for depart in departs %}
    <p><b> {{depart.transporteur.user.nom}}</b> départ: {{depart.depart}} arrivé: {{depart.arrive}}</p>
    
    
    {% endfor %}
{% endif %}

   

{% endblock %}
{% block content  %}



 
<h2 class="card-title">Les Tarifs </h2>

{% if tarifs %}

 
  <div class="card" >
     
  
  <div class="card-body">
<h5 class="card-title">Les Tarifs des Partenaires</h5>
 <table  class="table table-striped">
      <thead>
        <tr>
          <th>Désignation</th>
          <th>entrepot</th>
         
          <th>catégorie</th>
          <th>palette</th>
          <th>prix</th>
        </tr>
      </thead>
      <tbody>
        {% for tarif in tarifs %}
          <tr>
            
            <td class="align-middle">{{ tarif.designation }}</td>
            <td class="align-middle">{{ tarif.entrepot }}</td>
             
            <td class="align-middle">{{ tarif.categorie }}</td>
            <td class="align-middle">{{ tarif.nb_palettes }}  </td>
            <td class="align-middle">{{ tarif.prixFinal }} € </td>
         
            </td>
          </tr>
          

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Aucun tarif de partenaires à afficher.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
 
    
  </div>
</div>
{% endif %}

{% if tarifsT %}

 <div class="card" >
     
  
  <div class="card-body">
     <h5 class="card-title">Les Tarifs des transporteurs</h5>
  <table  class="table table-striped">
      <thead>
        <tr>
          <th>designation</th>
          <th>départ</th>
          <th>arrivé</th>
          <th>categorie</th>
          <th>Transporteur</th>
          <th>palette</th>
          <th>prix</th>
        </tr>
      </thead>
      <tbody>
        {% for tarif2 in tarifsT %}
          <tr>
            
            <td class="align-middle">{{ tarif2.designation }}</td>
            <td class="align-middle">{{ tarif2.depart }}</td>
             <td class="align-middle">{{ tarif2.arrive }}</td>
            <td class="align-middle">{{ tarif2.categorie }}</td>
            <td class="align-middle">{{ tarif2.transporteur }}</td>
            <td class="align-middle">{{ tarif2.nb_palettes }}  </td>
            <td class="align-middle">{{ tarif2.prixFinalT }} € </td>
         
            </td>
          </tr>
          

        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Sorry, no tarif2 in this list.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
   
    
  </div>
</div>

 
{% endif %}

{% endblock %}


 
 {% block content2 %}

<div class="list-group">
   {% for message in messages %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
       <img src=" {{ MEDIA_URL }}msg.png" width="35"  heigth="35"/> 
      <h4 class="mb-1">admin</h4>
      <small> {{ message.Date }}</small>
    </div>
    <p class="mb-1">{{ message.text }}</small>
  </a>
 {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Vous n'avez aucun message.</td>
          </tr>
        {% endfor %}
</div>
{% endblock %} 