
{% extends 'flexible/base2.html' %}
{% load crispy_forms_tags %}

 


    {% block content3 %}
    {% load staticfiles %}
 
 {% if entrepotsRecherche %}
  

{% for entrepot in entrepotsRecherche %}
    <p><b>entrepôt {{entrepot.designation}}</b> {{entrepot.adresse}}</p>
    
    {% endfor %}
{% endif %}


  {% if autres %}
{% for autre in autres %}
    <p><b>{{autre.nom}}</b> {{autre.adresse}}</p>
    
    
    {% endfor %}
{% endif %}


   

{% endblock %}
{% block content  %}

 <div class="row">
    <div class="col-sm-2 ">

      </div>
       <div class="col-sm-8 " > 
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save changes</button>
     
      </form>
    </div>
      <div class="col-sm-2 ">
        </div>
  </div>
  


{% endblock %}


 {% block content2 %}

<div class="list-group">
   {% for message in messages %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
       <img src=" {{ MEDIA_URL }}msg.png" width="35"  heigth="35"/> 
      <h4 class="mb-1">admin</h4>
      <small> {{ message.Date }}</small>
    </div>
    <p class="mb-1">{{ message.text }}</small>
  </a>
 {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Vous n'avez aucun message.</td>
          </tr>
        {% endfor %}
</div>
{% endblock %} 