{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<div class="container">
    <!--Navbar-->
    <nav class="navbar navbar-dark grey lighten-1 mb-4 rounded ">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Crée utilisateur</a>
        <!-- Collapse button -->
        <button class="navbar-toggler second-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23"
                aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation" id="openmenu2" style="position:absolute;right: 0;top: 0;margin-top: 10px;">
            <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent23">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>-->
            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
        <div class="row">
            <div class="col-auto">
                <form method="post" action="/recregister/" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ userform }}
                    <button type="submit" class="btn btn-sm btn-grey" >Valider</button>
                </form>
            </div>
            <div class="col-auto mt-5">
                <div class="border shadow-lg bg-white rounded col mr-2 tohide">
                    <table id="dtBasicExample" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="th-sm">Name</th>
                            <th class="th-sm"><i class="fas fa-trash-alt"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for items in users %}
                        <tr>
                            <td>{{ items.username }}</td>
                            <td><button id="{{ items.id }}" type="button" class="btn btn-sm btn-grey dynad"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </nav>
</div>
</body>

<script>
    setTimeout(function() {
        $("#openmenu2").trigger("click");},100);
    $(document ).ready(function() {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
        var clic = 0;
        $('#openmenu2').click(function () {
            if (clic != 0) {
                if ($('#openmenu2').hasClass("navbar-toggler second-button collapsed")) {
                    $('form').eq('0').children('*').show();
                    $('.tohide').parent('div').children('*').show();
                } else {
                    $('form').eq('0').children('*').hide();
                    $('.tohide').parent('div').children('*').hide();
                }
            }
            clic++;
        });
        $("input").addClass("w-responsive");
        $(document).on("click", "button.dynad" , function(e) { // event pour delete la ligne sélectionner
            var idClicked = e.target.id;
            //alert(idClicked);
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/delete_user/", //lien de la view qui gère la requête post pour supprimer une entree
                data: {
                    'id': idClicked,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    location.reload();
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });
    });
</script>
{% endblock %}
