{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

{% if user.is_superuser %}
<div class="container">
    <!--Navbar-->
    <nav class="navbar navbar-dark grey lighten-1 mb-4 rounded ">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Crée utilisateur</a>
        <!-- Collapse button -->
        <button class="navbar-toggler second-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23"
                aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation" id="openmenu2" style="position:absolute;right: 0;top: 0;margin-top: 10px;">
            <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent23">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>-->
            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
        <div class="row">
            <div class="col-6">
                <form method="post" action="/recregister/" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ userform }}
                    <button type="submit" class="btn btn-sm btn-grey" >Valider</button>
                </form>
            </div>
            <div class="col-6 mt-5">
                <div class="border shadow-lg bg-white rounded col mr-2 tohide">
                    <table id="dtBasicExample" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="th-sm">Name</th>
                            <th class="th-sm"><i class="fa fa-trash-alt"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for items in users %}
                        <tr>
                            <td>{{ items.username }}</td>
                            <td><button id="{{ items.id }}" type="button" class="btn btn-sm btn-grey dynad"><i class="fa fa-trash-alt"></i></button></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </nav>
</div>
</body>

<script>
    setTimeout(function() {
        $("#openmenu2").trigger("click");},100);
    $(document ).ready(function() {
        $('#dtBasicExample').DataTable({
            language: {
                processing: "Traitement en cours...",
                search: "Rechercher&nbsp;:",
                lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix: "",
                loadingRecords: "Chargement en cours...",
                zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Premier",
                    previous: "Pr&eacute;c&eacute;dent",
                    next: "Suivant",
                    last: "Dernier"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }
        });
        $('.dataTables_length').addClass('bs-select');
        var clic = 0;
        $('#openmenu2').click(function () {
            if (clic != 0) {
                if ($('#openmenu2').hasClass("navbar-toggler second-button collapsed")) {
                    $('form').eq('0').children('*').show();
                    $('.tohide').parent('div').children('*').show();
                } else {
                    $('form').eq('0').children('*').hide();
                    $('.tohide').parent('div').children('*').hide();
                }
            }
            clic++;
        });
        $("input").addClass("w-responsive");
        $(document).on("click", "button.dynad" , function(e) { // event pour delete la ligne sélectionner
            var idClicked = e.target.id;
            //alert(idClicked);
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/delete_user/", //lien de la view qui gère la requête post pour supprimer une entree
                data: {
                    'id': idClicked,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    location.reload();
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });

        $('span').append("<br>");
    });
</script>
{% else %}
<!-- Si un utilisateur lambda vient ici l'accès est bloqué !!!
 car c'est ici que l'on peu supprimer on crée des utilisateurs, très dangereux car il peu delete l'admin-->
<style type="text/css">
    @keyframes floating {
        to {
            top: 1.5rem;
        }
    }
    body {
        background-color: rgb(0,0,0,0.5);
        color: #fff;
        text-align: center;
        font-family: "Open Sans";
        font-size: 1.3rem;
    }
    body h1 {
        font-size: 2.5rem;
    }
    .message {
        max-width: 700px;
        margin: 5rem auto 0 auto;
    }
    .gandalf {
        position: relative;
        width: 400px;
        height: 400px;
        margin: 0 auto;
        top: 1rem;
        animation: floating 1s infinite alternate ease-in-out;
    }
    .gandalf div {
        position: absolute;
    }
    .gandalf::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 400px;
        background-color: #1a2130;
        border-radius: 50%;
    }
    .gandalf .fireball {
        bottom: -10px;
        left: 50px;
        width: 300px;
        height: 100px;
        border-radius: 50%;
        background: radial-gradient(#efac41, #de8531, #6c1305, black);
        border: 5px solid #000;
    }
    .gandalf .skirt {
        bottom: 50px;
        left: 100px;
        border-bottom: 230px solid #ededed;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        filter: drop-shadow(0 0 6px #d4d4d4);
    }
    .gandalf .skirt::before {
        content: "";
        position: absolute;
        background-color: #ededed;
        width: 100px;
        height: 21px;
        top: 230px;
        left: 0px;
        border-bottom-right-radius: 180%;
        border-bottom-left-radius: 100%;
    }
    .gandalf .skirt::after {
        content: "";
        position: absolute;
        background-color: #ededed;
        width: 100px;
        height: 28px;
        top: 230px;
        left: -100px;
        border-bottom-right-radius: 80%;
        border-bottom-left-radius: 180%;
    }
    .gandalf .sleeves::before, .gandalf .sleeves::after {
        content: "";
        position: absolute;
        border-bottom: 70px solid #ededed;
        filter: drop-shadow(0 0 6px #d4d4d4);
    }
    .gandalf .sleeves::before {
        top: 130px;
        left: 191px;
        border-left: 100px solid transparent;
        border-right: 40px solid transparent;
        transform: rotate(-34deg);
    }
    .gandalf .sleeves::after {
        top: 127px;
        left: 70px;
        border-left: 40px solid transparent;
        border-right: 100px solid transparent;
        transform: rotate(41deg);
    }
    .gandalf .shoulders {
        background-color: #ededed;
        border-radius: 50%;
        width: 100px;
        height: 130px;
        left: 150px;
        top: 120px;
    }
    .gandalf .shoulders .hand {
        width: 33px;
        height: 26px;
        border-radius: 50%;
        background-color: #ffd8ad;
        top: -6px;
    }
    .gandalf .shoulders .left {
        left: -70px;
        transform: rotate(-20deg);
    }
    .gandalf .shoulders .left::after {
        content: "";
        position: absolute;
        background-color: #e6e6e6;
        width: 126px;
        height: 8px;
        border-radius: 4px;
        transform: rotate(-105deg);
        transform-origin: bottom;
        top: -48px;
        left: -56px;
    }
    .gandalf .shoulders .right {
        right: -70px;
        transform: rotate(20deg);
    }
    .gandalf .shoulders .right::after {
        content: "";
        position: absolute;
        background-color: #bf5507;
        width: 250px;
        height: 5px;
        border-radius: 2.5px;
        transform: rotate(-78deg);
        transform-origin: left;
        bottom: -100px;
        left: 0;
    }
    .gandalf .head {
        width: 80px;
        height: 90px;
        top: 80px;
        left: 160px;
        background-color: #ffd8ad;
        border-radius: 50%;
    }
    .gandalf .head::before, .gandalf .head::after {
        content: "";
        position: absolute;
        background-color: #000;
    }
    .gandalf .head::before {
        width: 13px;
        height: 5px;
        border-radius: 3px;
        top: 42px;
        left: 22px;
        transform: rotate(19deg);
    }
    .gandalf .head::after {
        width: 13px;
        height: 5px;
        border-radius: 3px;
        top: 42px;
        right: 22px;
        transform: rotate(-19deg);
    }
    .gandalf .head .hair {
        width: 70px;
        height: 30px;
        background-color: #c2beb5;
        border-radius: 50%;
        top: 0px;
        left: 5px;
    }
    .gandalf .head .hair::before, .gandalf .head .hair::after {
        content: "";
        position: absolute;
        background-color: #c2beb5;
        filter: drop-shadow(2px 5px 0 #aba599);
    }
    .gandalf .head .hair::before {
        top: 13px;
        left: -16px;
        width: 25px;
        height: 100px;
        border-top-left-radius: 34px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 20px;
        transform: rotate(8deg);
    }
    .gandalf .head .hair::after {
        top: 13px;
        right: -16px;
        width: 25px;
        height: 100px;
        border-top-left-radius: 15px;
        border-top-right-radius: 34px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 100px;
        transform: rotate(-10deg);
    }
    .gandalf .head .beard {
        top: 64px;
        left: 5px;
        border-top: 80px solid #c2beb5;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-radius: 30px;
        filter: drop-shadow(2px 5px 0 #aba599);
    }
    .gandalf .head .beard::before {
        content: "";
        position: absolute;
        background-color: pink;
        width: 20px;
        height: 5px;
        border-radius: 40%;
        top: -70px;
        left: -9px;
    }

</style>

<div class="gandalf">
    <div class="fireball"></div>
    <div class="skirt"></div>
    <div class="sleeves"></div>
    <div class="shoulders">
        <div class="hand left"></div>
        <div class="hand right"></div>
    </div>
    <div class="head">
        <div class="hair"></div>
        <div class="beard"></div>
    </div>
</div>
<div class="message">
    <h1>403 - Tu Ne Passeras Pas</h1>
    <p>Uh oh, Gandalf bloque la voie!<br/>Peut-être que tu t'es trompé dans ta manipulation? Ou tu veux aller autre part ? Aux...Hobbiton?</p>
</div>
{% endif %}
{% endblock %}
