{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}
<html>

<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em;}
</style>
<!--    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

<div class="container"><h1 class="text-center"> Modification d'Article </h1></div>
<br>

<div class="container">
    <div class="form-group row text-center">

        <div class="col">
            <i class="fa fa-chevron-circle-left" style="font-size:45px;cursor: pointer;"></i>
        </div>

        <div class="col">
            <button type="button" id="back-row" class="btn btn-default btn-rounded btn-outline-dark">Tout</button>
        </div>
        <div class="col">
            <button type="button" id="create-row" class="btn btn-success btn-rounded btn-outline-dark">Ajouter</button>
        </div>
        <!--<div class="col">
            <button type="button" class="btn btn-default btn-rounded btn-outline-dark">Calculer</button>
        </div>-->
        <div class="col">
            <i class="fa fa-chevron-circle-right" style="font-size:45px;cursor: pointer;"></i>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="border shadow-lg bg-white rounded col mr-2 pb-2">
            <div class="row">
                <div class="col">
                    <h5 class="text-center"> <u>Identifiant fournisseur</u> </h5>
                </div>
            </div>
            <form action="/create_four/" method="POST" id="post-form">
                <div class="">
                    identifiant:<br><input class="form-control" type="text" id="umid" name="identifiant fournisseur" disabled>
                </div>
                <div>
                </div>
                code: <br><input class="form-control" type="text" id="codefour" name="code four">
                <div>
                    désignation: <br><input class="form-control" type="text" id="desigfour" name="designation four">
                </div>
                <br>
                <button type="button" id="addart" class="btn btn-outline-red">Save &nbsp;<i class="fa fa-save"></i></button>
            </form>
        </div>
        <div class="border shadow-lg bg-white rounded col">
            <div class="row">
                <div class="col">
                    <h5 class="text-center"> <u>Identifiant client</u> </h5>
                </div>
            </div>
            <div class="">
                code:<br><input class="form-control" type="text" id="codecli" name="identifiant client">
            </div>
            <div>
                désignation: <br><input class="form-control" type="text" id="désicli" name="code four">
            </div>
            <div>
                délai péremption [jour(s)]: <br><input class="form-control" type="text" id="délaipcli" name="délai peremption/jours">
            </div>
            <div>
                durée stockage: <br><input class="form-control" type="text" id="dureestock" name="durée de stockage client">
            </div>
        </div>

        <div class="border shadow-lg bg-white rounded col ml-2">
            <div class="row">
                <div class="col">
                    <h5 class="text-center"> <u>Autres</u> </h5>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    Type article <br><select class="custom-select" id="artitype">
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var i = 0;
                            "{% for items in typeart %}"
                            //to change
                            console.log("test");
                            var name = "{{ items.nom|safe }}";
                            var oldname;
                            if (i == 0)
                                $("#artitype").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                            else if (name != oldname)
                                $("#artitype").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                            oldname = name;
                            i = 1;
                            "{% endfor %}"
                        });
                    </script>
                </select>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col text-center">
                    fournisseur: <br><select class="custom-select" id="fournitype">
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var i = 0;
                            "{% for items in four %}"
                            //to change
                            var name = "{{ items.nom|safe }}";
                            var oldname;
                            if (i == 0)
                                $("#fournitype").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                            else if (name != oldname)
                                $("#fournitype").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                            oldname = name;
                            i = 1;
                            "{% endfor %}"
                        });
                    </script>
                </select>
                </div>
            </div>
            <div class="container">

                <div class="row">
                    <div class="col-sm">
                        qte colis std : <br><input type="text" id="qtecstd" class="form-control" name="délai peremption/jours">
                    </div>
                    <div class="col-sm">
                        poids colis std : <br><input type="text" id="pcstr" class="form-control" name="délai peremption/jours">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        source : <br><input type="text" id="src" class="form-control" name="délai peremption/jours">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        id. source : <br><input type="text" id="idsrc" class="form-control" name="délai peremption/jours">
                    </div>
                </div>
                <br>

            </div>

        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-6">
            <div class="border shadow-lg bg-white rounded container pb-5">
                <!--<h5 class="text-center"> <u>destinataires</u> </h5>-->
                <br>
                <div>
                    <table id="articledest" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th scope="col" class="th-sm"> Code UM </th>
                            <th scope="col" class="th-sm"> Destinataire </th>
                            <th scope="col" class="th-sm"> Délai [jours] </th>
                            <th scope="col" class="th-sm"> <i class="fa fa-trash"></i> </th>
                        </tr>
                        </thead>
                        <tbody id="articledestbody">
                        {% for items in ardes %}
                            {% if items.fk_Article.idArticle == id %}
                            <tr>
                                <td><input class="form-control" readonly="readonly"></td>
                                <td><select id="{{ items.idArticle_Destinataire }}"  class="form-control destiselect"> </select></td>
                                <td><input class="form-control"></td>
                                <td><button class="deleting btn btn-sm btn-outline-deep-orange" id="{{ items.idArticle_Destinataire }}" type="button"><i class="fa fa-backspace"></i></button></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" id="adddestinators" class="btn-sm btn-outline-success mb-2 float-right">+</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="border shadow-lg bg-white rounded col-auto">
                <h5 class="text-center"> <u>Historique</u> </h5>
                <table id="dtBasicExample" class="table table-striped table-responsive table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th scope="col" class="th-sm"> modify </th>
                        <th scope="col" class="th-sm"> stock </th>
                        <th scope="col" class="th-sm"> type article </th>
                        <th scope="col" class="th-sm"> fournisseur </th>
                        <th scope="col" class="th-sm"> code client </th>
                        <th scope="col" class="th-sm"> designation client</th>
                        <th scope="col" class="th-sm"> produits complet </th>
                        <th scope="col" class="th-sm"> produits incomplet </th>
                        <th scope="col" class="th-sm"> colis incomplet </th>
                        <th scope="col" class="th-sm"> qte colis standard </th>
                        <th scope="col" class="th-sm"> qte colis dans UMs </th>
                        <th scope="col" class="th-sm"> delete </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for items in histoart %}
                    <tr>
                        <td> <button id='{{ items.idArticle }}' class="dyna"> -> </button></td>
                        <td> {{ items.stock|safe }} </td>
                        <td> {{ items.fk_TypeArticle.nom|safe }} </td>
                        <td> {{ items.fk_Fournisseur.nom|safe }} </td>
                        <td> {{ items.codeClient|safe }} </td>
                        <td> {{ items.designationClient|safe }} </td>
                        <td> {{ items.quantiteProduitStockComplet|safe }} </td>
                        <td> {{ items.quantiteColisStockComplet|safe }} </td>
                        <td> {{ items.quantiteProduitStockIncomplet|safe }} </td>
                        <td> {{ items.quantiteColisStockIncomplet|safe }} </td>
                        <td> {{ items.quantiteColisStandard|safe }} </td>
                        <td> {{ items.quantiteUniteManutentionSortie|safe }} </td>
                        <td> <button id='{{ items.idArticle }}' class="dynad"> X </button> </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-outline-success mb-2">+</button>
            </div>
        </div>
    </div>
</div>
<br>
<script>
    var selectid = 0;
    $(document).ready(function() {
        $('#articledest tr').each(function (a, b) {  //recupère la taille de la table pour les "appends" via id
            for (selectid; selectid < $(this).find('td').eq(1).find('select').attr('id'); selectid++) {}
            selectid++
            '{% for items in des %}'
            $(this).find('td').eq(1).find('select').append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
            '{% endfor %}'

            '{% for items in ardes %}'
            console.log("abcd");
            if ('{{ items.idArticle_Destinataire }}' == $(this).find('td').eq(1).find('select').attr('id')) {
                $(this).find('td').eq(1).find('select').val("{{ items.fk_Destinataire.nom }}");
                $(this).find('td').eq(0).find('input').val("{{ items.fk_Destinataire.codeUM }}");
                $(this).find('td').eq(2).find('input').val("{{ items.delaiPeremption }}");
            }
            '{% endfor %}'
        });
        $("#adddestinators").click(function() {
            var table = $('#articledest').DataTable();
            table.rows.add($(
                '<tr>'+
                '  <td><input class="form-control" readonly="readonly"></td>'+
                '  <td><select id=\"' + selectid + '\"  class="form-control destiselect"> </select></td>'+
                '  <td><input class="form-control"></td>'+
                '<td><button class="deletingtemporary btn btn-sm btn-outline-deep-orange" id=\"' + selectid + '\" type="button"><i class="fa fa-backspace"></i></button></td>'+
                '</tr>')).draw();

            '{% for items in des %}'
            $('#'+selectid).append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
            '{% endfor %}'
            $('#'+selectid).val("");
            selectid++;
        });

        $("#create-row").click(function() {
            location.href = "{% url 'articleadd' %}";
        });

        $(document).on('click','.deletingtemporary', function () {
            var table = $('#articledest').DataTable();
            table.row( $(this).parents('tr')).remove().draw();
        });
        $(document).on('click','.deleting',function () {
            //alert("gg " + $(this).attr('id'));
            $.ajax({
                type:"POST",
                url:"/delete_article_pour_destinataire/",
                data: {
                    'id': $(this).attr('id'),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });

        $(document).on('change','.destiselect',function () {
            '{% for items in des %}'
            if ('{{ items.nom|safe }}' == $(this).val().trim()) {
                $('#' + $(this).attr('id')).parent().parent().find('td').eq(0).find('input').val("{{ items.codeUM }}");
            }
            '{% endfor %}'
        });

        $(".fa-chevron-circle-right").click(function() {
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/right_article/", //lien de la view qui gère la requête post
                data: {
                    'id': $('#umid').val(), // id du transporteur acquis grace a une incrementation en js
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    if (msg != "fail")
                        window.location.href = "{% url 'articlemodify' %}?id=" +  msg;
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });

        $(".fa-chevron-circle-left").click(function() {
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/left_article/", //lien de la view qui gère la requête post
                data: {
                    'id': $('#umid').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    if (msg != "fail")
                        window.location.href = "{% url 'articlemodify' %}?id=" +  msg;
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });

        $("#back-row").click(function() {
            location.href = "{% url 'article' %}";
        });
        var upperid = "0";
        /*"{% for items in art %}"
          if (parseInt(upperid, 10) < parseInt('{{ items.idArticle }}', 10)) {
            upperid = parseInt('{{ items.idArticle }}', 10);
           }
          "{% endfor %}"
          if (upperid == 0)
            $("#umid").val(1);
          else
            $("#umid").val(upperid+1);
        */
        $("#umid").val('{{ id }}');
        var id = $('#umid').val();
        '{% for items in art %}'
        if ('{{ items.idArticle }}' == id) {
            $("#codefour").val('{{ items.codeFournisseur|safe }}');
            $("#desigfour").val('{{ items.designationFournisseur|safe }}');
            $("#codecli").val('{{ items.codeClient|safe }}');
            $("#désicli").val('{{ items.designationClient|safe }}');
            $("#délaipcli").val('{{ items.delaiPeremption|safe }}');
            $("#dureestock").val('{{ items.dureeStockage|safe }}');

            $("#artitype").val('{{ items.fk_TypeArticle.nom|safe }}');
            $("#fournitype").val('{{ items.fk_Fournisseur.nom|safe }}');

            $("#qtecstd").val('{{ items.quantiteColisStandard|safe }}');
            $("#pcstr").val('{{ items.poidsColisStandard|safe }}');
            $("#src").val('{{ items.source|safe }}');
            $("#idsrc").val('{{ items.identifiantSource|safe }}');
        }
        '{% endfor %}'
        $('#addart').click(function() {
            var typef = $('#fournitype').val();
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/article/modify/modif/", //lien de la view qui gère la requête post
                data: {
                    'name': $('#nom').val(),
                    'id': $('#umid').val(),
                    'codefour': $('#codefour').val(),
                    'desifour': $('#desigfour').val(),
                    'codecli': $('#codecli').val(),
                    'desicli': $('#désicli').val(),
                    'delaicli': $('#délaipcli').val(),
                    'durestock': $('#dureestock').val(),
                    'artitype': $('#artitype').val(),
                    'fournitype': $('#fournitype').val(),
                    'qtecstd': $('#qtecstd').val(),
                    'pcstd': $('#pcstr').val(),
                    'source': $('#src').val(),
                    'idsource': $('#idsrc').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings){
                    //alert("gg " + msg);
                },
                failure: function() {
                    alert("fail");
                }
            });
            //$('#des').
            $('#articledest tr').each(function (a, b) {  //recupère les  entrée dans la table
                var umcode = "";
                var desti = "";
                var artdesid = "";
                var delai = "";
                if (a === 0) {
                    // Je ne prends pas en compte le "thead".
                }
                else {
                    $(this).find('td').each(function(a, b) {
                        if (a === 0) {
                            umcode = $(this).find('input').val();
                            console.log($(this).find('input').val());
                        }
                        if (a === 1) {
                            desti = $(this).find('select').val();
                            artdesid = $(this).find('select').attr('id');
                            console.log($(this).find('select').val());
                        }
                        if (a === 2) {
                            delai = $(this).find('input').val();
                            console.log($(this).find('input').val());
                        }
                    });
                    alert("test {{ id }}");
                    $.ajax({
                        type: "POST",
                        url: "/article_destinataire/create/",
                        data: {
                            'umcode': umcode,
                            'desti': desti,
                            'delai': delai,
                            'artdesid': artdesid,
                            'idart': '{{ id }}',
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (msg, data, settings) {
                            console.log("gg " + msg);
                        },
                        failure: function () {
                            console.log("fail");
                        }
                    });
                }
            });
            //location.reload();
        });

        $("#fournitype").combobox();
        $("#artitype").combobox();
        $("#toggle").on("click", function() {
            $("#fournitype").combobox();
            $("#artitype").combobox();
        });
        $('#articledest').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
</html>
{% endblock %}