{% extends "base_generic.html" %}

{% block content %}

<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em;}
</style>

<div class="container"><h1 class="text-center"> Sortie Bon de Commande</h1></div>

<div class="container">
    <div class="form-group row text-center">
        <div class="col">
            <button type="button" class="btn btn-light btn-rounded btn-outline-dark">Recherche</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-default btn-rounded btn-outline-dark">Tout</button>
        </div>
        <div class="col">
            <button type="button" id="create-row" class="btn btn-success btn-rounded btn-outline-dark">Ajouter</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-default btn-rounded btn-outline-dark">Calculer</button>
        </div>
    </div>
</div>

<div class="container ">
    <table id="myprvttable" class="table table-hover container rounded table-bordered border border-dark table-responsive-md">
        <thead>
        <tr>
            <th>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default btn-rounded">-></button>
                </div>
            </th>
            <th scope="col" id="dos">Dossier</th>
            <th scope="col" id="des">Destinataire</th>
            <th scope="col" id="code">Code Um</th>
            <th scope="col" id="date">date</th>
            <th scope="col" id="nuco">Numero Commande</th>
            <th scope="col" id="iden">Identifiant</th>
            <th scope="col" id="term">Termine</th>
        </tr>
        <tbody>
        {% for items in sortie %}
        <tr>
            <td>
                <button type="button" class="mybut btn btn-default btn-rounded" id={{ items.id }}>-></button>
            </td>
            <td>
                {{ items.fk_Destinataire.fk_TypeDestinataire.nom }}
            </td>
            <td>
                {{ items.fk_Destinataire.nom }}
            </td>
            <td>
                {{ items.fk_Destinataire.codeUM }}
            </td>
            <td>
                {{ items.dateCommande }}
            </td>
            <td>
                {{ items.numeroCommande }}
            </td>
            <td>
                {{ items.idBonCommandeSortie }}
            </td>
            <td>
                {{ items.termine }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </thead>
    </table>
</div>

<!--   <div id="dialog-form" title="Entree bon de commande" class="panel-heading p-3 mb-2 bg-dark text-white rounded container">
      <p class="validateTips">All form fields are required.</p>
      <form>
        <fieldset>

          <div class="form-row">
            <div class="col">
              <label for="identifiant">Identifiant:</label>
              <input type="text" name="identifiant" id="idenid" value="id bon commande entree" class="text ui-widget-content ui-corner-all form-control" readonly>
            </div>
            <div class="col">
                <label for="codeUM">Code Um:</label>
                <input type="text" name="codeUm" id="choiceUm" value="id bon commande entree" class="text ui-widget-content ui-corner-all form-control" readonly>
              </div>
            </div>

          <div class="form-row">
              <div class="col">
                  <label for="Date com">Date Commande</label>
                  <input type="text" name="dateCommande" id="datepicker" value="xxxxxxx" class="text ui-widget-content ui-corner-all">
                  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                </div>
            <div class="col">
                <label for="numcommande">n° commande</label>
                <input type="text" name="numcommande" id="numcom" value="xxxxxxx" class="text ui-widget-content ui-corner-all">
          </div>
          </div>
          <div class="form-row">
              <div class="col">
            <label for="Client">Client:</label>
            <select class="form-control" id="client">
                 
            </select>
          </div>
          <div class="col">
              <label for="transouhait">Transporteur souhaité:</label>
              <select class="form-control" id="choiceTrans">
                  <\!--<option>1</option>--\>
                  </select>
          </div>
          </div>
          <div class="form-row">
              <div class="col">
                  <label for="Destinataire">Destinataire</label>
                  <select class="form-control" id="destin">
                    </!--<option>1</option>--/>
                    </select>

              </div>
              <div class="col">
                  <input type="hidden" >              
              </div>
            </div>
              
          <label for="fileg">Fichier:</label>
          <button id="fileget" class="btn btn-dark">
              <i class="fa fa-search" aria-hidden="true"></i></button>
        </fieldset>
      </form>
    </div> -->

<script type="text/javascript">
    $(document).ready(function() {
        var i = 0;
        "{% for items in sortie %}"
        var name = "{{ items.fk_Transporteur.nom }}";
        var oldname;
        if (i == 0)
            $("#choiceTrans").append(new Option("{{ items.fk_Transporteur.nom }}", "1"));
        else if (name != oldname)
            $("#choiceTrans").append(new Option("{{ items.fk_Transporteur.nom }}", "1"));
        oldname = name;
        i = 1;
        "{% endfor %}"

        "{% for items in sortie %}"
        var name = "{{ items.fk_Client.nom }}";
        var oldname;
        if (i == 0)
            $("#client").append(new Option("{{ items.fk_Client.nom }}", "1"));
        else if (name != oldname)
            $("#client").append(new Option("{{ items.fk_Client.nom }}", "1"));
        oldname = name;
        i = 1;
        "{% endfor %}"

        "{% for items in sortie %}"
        var name = "{{ items.fk_Destinataire.nom }}";
        var oldname;
        if (i == 0)
            $("#destin").append(new Option("{{ items.fk_Destinataire.nom }}", "1"));
        else if (name != oldname)
            $("#destin").append(new Option("{{ items.fk_Destinataire.nom }}", "1"));
        oldname = name;
        i = 1;
        "{% endfor %}"
    });
</script>


<script type="text/javascript">
    $(document).ready(function() {
        var idx = 0;
        var idDestinataire = 0;
        var destinatairelist = [];
        var ident = idx;//$("#identifiant");
        var date = $("#datepicker");
        var client = $("#client");
        var destinataire = $("#destin");
        var codeUm = $("#choiceUm");
        var numcommande = $("#numcom");

        $("#create-row").click(function() {
            location.href = "{% url 'bonCommandeSortieadd' %}";
            /*         "{% for items.fk_Destinataire_id in sortie %}"
            destinatairelist.push(['{{ item.nom }}']);
            "{% endfor %}"
            console.log(destinatairelist);
            "{% for items in sortie %}"
              idx++;
              var a = "{{ items.idBonCommandeSortie }}";
              console.log(idx);
              "{% endfor %}"
              $("#idenid").val(idx+1);
              idx = 0;  */
        });
        /*$(function() {
              $("#datepicker").datepicker({
                  showOn: "button",
                  buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
                  buttonImageOnly: true,
                  dateFormat: 'dd-mm-yy'
              });
            });
              var allFields = $([]).add(ident).add(date).add(client).add(destinataire)
              .add(codeUm).add(numcommande);
              var dialog = $("#dialog-form").dialog({
              autoOpen: false,
              height: 400,
              width: 350,
              modal: true,
              width:'auto',
              height:'auto',
              buttons: {
                "Entree le bon": addUser,
                Cancel: function() {
                  id: "my-cancel-button-id",
                  dialog.dialog("close");
                }
              },
              close: function() {
                form[0].reset();
                id: "my-close-button-id";
                //allFields.removeClass( "ui-state-error" );
              }
            });
            form = dialog.find("form").on("submit", function(event) {
              event.preventDefault();
              addUser();
            });*/

        /*$("#destin").change(function() {
          var val = $('#destin').val();
          var destinat = $('#destin').find(":selected").text();
          "{% for items in sortie %}"
          if ('{{ items.fk_Destinataire.nom }}' == destinat)
            $("#choiceUm").val('{{ items.fk_Destinataire.codeUM }}');
          "{% endfor %}"
        });

        $(".mybut").click(function(event) {
          var flecheid;
          flecheid = event.target.id;
          $("#idenid").val(flecheid);

          "{% for items in sortie %}"
                if ('{{ items.id }}' == flecheid) {
                  //alert("sero-alhaden");
                  $("#idenid").val('{{ items.id }}');
                  $("#datepicker").val('{{ items.dateCommande }}');
                  $("#choiceTrans").val('{{ items.fk_TypeDestinataire.nom }}');

                  "{% for items in sortie %}"
                    var optionExists = $("#choiceTrans option[value='1']").length > 0; "{{ items.fk_Transporteur.nom }}";
                    if(!optionExists) {
      //                $("#choiceTrans").append(new Option("{{ items.fk_Transporteur.nom }}", "1"));
                      //$("#destin").val('{{ items.fk_Destinataire.nom }}');
                    }
                    optionExists = $("#client option[value='1']").length > 1; "{{ items.fk_Client.nom }}";
                    if(!optionExists) {
    //                  $("#client").append(new Option("{{ items.fk_Client.nom }}", "1"));
                    }
                  "{% endfor %}"
                }
                else
                  console.log('{{ items.id }}');
              var clientid = $(this).find("option:selected").attr("client");
              console.log('{{ items.id }}');
                if (clientid == '{{ items.id }}') {

                }
          "{% endfor %}"

          var umdes = 0;
          "{% for items in sortie %}"
          "{% endfor %}"

          $("#choiceUm").val("23");
          dialog.dialog("open");
        });

        function addUser() {
          dialog.dialog( "close" );
        };
      */
        var dos = document.getElementById("dos");
        var des = document.getElementById("des");
        var code = document.getElementById("code");
        var date = document.getElementById("date");
        var nuco = document.getElementById("nuco");
        var iden = document.getElementById("iden");
        var term = document.getElementById("term");
        dos.onclick = function() {
            sortTable(1);
        }
        des.onclick = function() {
            sortTable(2);
        }
        code.onclick = function() {
            sortTable(2);
        }
        date.onclick = function() {
            sortTable(3);
        }
        nuco.onclick = function() {
            sortTable(4);
        }
        iden.onclick = function() {
            sortTable(5);
        }
        term.onclick = function() {
            sortTable(6);
        }
        function sortTable(n) {
            console.log("switcy");
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById('myprvttable');
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch= true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount ++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    });

    /*  var sortielist = [];
    var destinatairelist = [];
    var typedestinatairelist = [];
    {% for item in sortie %}
      sortielist.push(['{{ item.id }}', '{{ item.idBonCommandeSortie }}', '{{ item.c_nom }}',
          '{{ item.c_nomCompte }}', '{{ item.c_horodatage }}', '{{ item.m_nom }}',
          '{{ item.m_nomCompte }}', '{{ item.m_horodatage }}', '{{ item.numeroCommande }}',
          '{{ item.dateCommande }}', '{{ item.termine }}', '{{ item.identifiantSource }}',
          '{{ item.fk_Client_id }}', '{{ item.fk_Destinataire_id }}',
          '{{ item.fk_Transporteur_id}}', '{{ item.fk_TypeBonCommandeSortie_id }}']);
      {% endfor %}

      {% for item in destinataire %}
      destinatairelist.push(['{{ item.id }}', '{{ item.idDestinataire }}', '{{ item.c_nom }}',
          '{{ item.c_nomCompte }}', '{{ item.c_horodatage }}', '{{ item.m_nom }}',
          '{{ item.m_nomCompte }}', '{{ item.m_horodatage }}', '{{ item.adresseLivraison }}',
          '{{ item.adresseFacturation }}', '{{ item.termine }}', '{{ item.source }}',
          '{{ item.identifiantSource }}', '{{ item.fk_TypeDestinataire }}', '{{ item.identifiantBonLivraison }}',
          '{{ item.nom }}'
        ]);
      {% endfor %}

      {% for item in typedestinataire %}
      typedestinatairelist.push(['{{ item.id }}', '{{ item.c_nom }}','{{ item.c_nomCompte }}',
        '{{ item.c_horodatage }}', '{{ item.m_nom }}', '{{ item.m_nomCompte }}',
        '{{ item.m_horodatage }}', '{{ item.idTypeDestinataire }}', '{{ item.nom }}']);
      {% endfor %}


      var a = 1;
    for (var x = 0; x < sortielist.length; x++) {
      $("tbody").eq(0).append("<tr>");
      $("tr").eq(a).append("<td><div class=\"col-md-2\"><button type=\"button\" class=\"btn btn-default btn-rounded\" id="+sortielist[x][1]+">\->\</button></div></td>");

      for (var my = 0;my < destinatairelist.length; my++) {
          if (sortielist[x][13] == destinatairelist[my][0])
              $("tr").eq(a).append("<td><div class=\"col-md-2\"> " + destinatairelist[my][15] +" </div></td>");
          //console.log(sortielist[mx][13] + " VS " + destinatairelist[my][0]);
      }

      $("tr").eq(a).append("<td><div class=\"col-md-2\"> " + sortielist[x][13] +"UMcode </div></td>");
      $("tr").eq(a).append("<td><div class=\"col-md-2\"> " + sortielist[x][9] +" </div></td>");
      $("tr").eq(a).append("<td><div class=\"col-md-2\"> " + sortielist[x][8] +" </div></td>");
      $("tr").eq(a).append("<td><div class=\"col-md-2\"> " + sortielist[x][1] +" </div></td>");
      $("tr").eq(a).append("<td><div class=\"col-md-2\"> " + sortielist[x][10] +" </div></td>");
      $("tbody").eq(0).append("</tr>");
      a++;
    }
      //    $("table").find('tbody').append("<button type=\"button\" class=\"btn btn-default btn-rounded\">\->\</button>");
      //</div><tr><td>aaaa</td></tr>");
      //$("table").find('tbody').append( "<tr><td></td></tr>");
      https://jqueryui.com/dialog/#modal-form*/
</script>

{% endblock %}