{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}
{% block content %}
<body>

<div class="container"><h1 class="text-center"> Bon de commande sortie {{ id }}</h1></div>
<br>

<div class="container">
    <div class="form-group row text-center">
        <div class="col">
            <button type="button" id="back-row" class="btn btn-default btn-rounded btn-outline-dark">Tout</button>
        </div>
        <!--<div class="col">
            <form method="post" novalidate enctype="multipart/form-data"  style="text-align: left;font-weight:bold;">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" style="position:sticky;bottom: 0; margin-left: 45%;">Import B.C</button>
            {{ form.as_p }}
        </form>
        </div>-->
        <!--<div class="col-auto mx-auto">
            <form action="/uploadbc/" method="POST" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label for="csv_file" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                    <div class="col-auto">
                        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control-file">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                        <button class="btn btn-primary btn-sm"> <span class="fa fa-upload" style="margin-right:5px;">
                    </span>Upload </button>
                    </div>
                </div>
            </form>-->
        <!--<form method="post" action="/uploadbc/" novalidate enctype="multipart/form-data"  style="text-align: left;font-weight:bold;">
        {% csrf_token %}
        <button type="submit" class="btn btn-success" style="position:sticky;bottom: 0; margin-left: 45%;">Import Lignes B.C</button>
        {{ form.as_p }}
    </form>-->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border shadow-lg pl-2 mb-3 bg-white rounded">
                <div class="row">
                    <div class="col">
                    <h3 class="text-center"> identifiant BC-S</h3>
                    <br>
                    <button id="createbls" style="" class="btn btn-primary btn-sm"> Crée Bl sorties</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col ml-4">
                        <label for="idbcs">identifiant :</label>
                        <input type="text" id="idbcs" class="form-control-plaintext w-75 text-center" disabled>
                        <label for="datec">date de commande :</label>
                        <input type="date" id="datec" class="form-control datepicker w-75" data-date-format="mm/yyyy/dd">
                        <!--<input type="date" id="datec" class="form-control w-75 text-center">-->
                        <br>
                        <label for="client"> client :</label>
                        <br>
                        <select class="custom-select w-75" id="client">
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    var i = 0;
                                    "{% for items in cli %}"
                                    //to change
                                    var name = "{{ items.nom|safe }}";
                                    var oldname;
                                    if (i == 0)
                                        $("#client").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                                    else if (name != oldname)
                                        $("#client").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                                    oldname = name;
                                    i = 1;
                                    "{% endfor %}"
                                });
                            </script>
                        </select>
                        <br><br>
                        <label for="destinataire"> destinataire :</label>
                        <br>
                        <select class="custom-select w-75" id="destinataire">
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    var i = 0;
                                    "{% for items in dest %}"
                                    //to change
                                    var name = "{{ items.nom|safe }}";
                                    var oldname;
                                    if (i == 0)
                                        $("#destinataire").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                                    else if (name != oldname)
                                        $("#destinataire").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                                    oldname = name;
                                    i = 1;
                                    "{% endfor %}"
                                });
                            </script>
                        </select>

                    </div>
                    <div class="col">
                        <label for="codm">code UM :</label>
                        <input type="text" id="codm" class="form-control-plaintext w-75 text-center" disabled>
                        <label for="ncom">n° commande :</label>
                        <input type="text" id="ncom" class="form-control w-75 text-center">
                        <br>
                        <label for="transsel">transporteur :</label>
                        <select class="custom-select w-75" id="transsel">
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    var i = 0;
                                    "{% for items in trans %}"
                                    //to change
                                    var name = "{{ items.nom|safe }}";
                                    var oldname;
                                    if (i == 0)
                                        $("#transsel").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                                    else if (name != oldname)
                                        $("#transsel").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                                    oldname = name;
                                    i = 1;
                                    "{% endfor %}"
                                });
                            </script>
                        </select>
                        <br>
                        <br>
                        <form action="/upload_bcsf/?" method="POST" enctype="multipart/form-data" class="form-horizontal">
                            {% csrf_token %}
                            <div class="form-group">
                                <p>fichier <i style="cursor: pointer;" class="fa fa-file" id="fichpop"></i></p>
                                <div class="col-auto">
                                    <input type="file" name="file" id="file" required="True" class="form-control-file">
                                </div>
                            </div>
                            {% for items in bcs %}
                            {% if items.idBonCommandeSortie == id%}
                            {% if items.fichier %}
                            <img id="imgfichier" src="{{ items.fichier.url }}" >
                            <script>
                                $('#imgfichier').hide();
                                $("#fichpop").css("color", "green");
                                $('#fichpop').click(function () {
                                    var src = $('#imgfichier').attr('src');
                                    $('<div>').css({
                                        background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center', // .5 rends à moitié "transparent" car le 4 paramètre est = a l'opacité de la couleur
                                        backgroundSize: 'contain',
                                        width:'100%', height:'100%',
                                        position:'fixed',
                                        zIndex:'10000',
                                        top:'0', left:'0',
                                        cursor: 'zoom-out'
                                    }).click(function(){
                                        $(this).remove();
                                    }).appendTo('body');
                                });
                            </script>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                                    <button class="btn btn-primary btn-sm">
                                        <span class="fa fa-upload" style="margin-right:5px;"></span>
                                        Upload</button>
                                </div>
                            </div>
                            <input type="text" hidden value="{{ id }}" name="idinput" id="idinput">
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-auto">
            <div class="border shadow-lg p-3 pb-4 mb-5 bg-white rounded">
                    <h4 class="text-center"><b>UM sortie</b></h4>
                    <div class="table-responsive">
                    <table id="umtab" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th scope="col" class="th-sm"> modify </th>
                            <th scope="col" class="th-sm"> dossier </th>
                            <th scope="col" class="th-sm"> code UM </th>
                            <th scope="col" class="th-sm"> date </th>
                            <th scope="col" class="th-sm"> numéro commande </th>
                            <th scope="col" class="th-sm"> identifiant </th>
                            <th scope="col" class="th-sm"> terminé </th>
                            <th scope="col" class="th-sm"> delete </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for items in ums %}
                        {% if items.fk_BonCommandeSortie.idBonCommandeSortie == id %}
                        <tr>
                            <td> <a href='{% url "unitemanutentionsortiemodify" %}?id={{items.idUniteManutentionSortie|safe }}'><button type="button" id='{{ items.idUniteManutentionSortie }}' class="dyna btn btn-sm btn-outline-grey rounded"> <i class="fa fa-arrow-right"></i> </button></a></td>

                            {% for clients in cli %}
                            {% if clients.fk_TypeDestinataire.nom == items.fk_BonCommandeSortie.fk_Destinataire.fk_TypeDestinataire.nom  %}
                            <td> {{ clients.nom }} </td>
                            {% endif %}
                            {% endfor %}

                            <td> {{ items.fk_BonCommandeSortie.fk_Destinataire.codeUM }} </td>
                            <td> {{ items.fk_BonCommandeSortie.dateCommande }} </td>
                            <td> {{ items.fk_BonCommandeSortie.numeroCommande }} </td>
                            <td> {{ items.fk_BonCommandeSortie.idBonCommandeSortie }} </td>
                            <td> {{ items.fk_BonCommandeSortie.termine }} </td>
                            <td> <button id='{{ items.idBonCommandeSortie  }}' class="dynad btn btn-sm btn-outline-grey rounded-pill"> <i class="fa fa-minus"></i>   </button> </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>modify </th>
                            <th>dossier </th>
                            <th>code UM </th>
                            <th>date</th>
                            <th>numéro commande</th>
                            <th>identifiant </th>
                            <th>terminé </th>
                            <th>delete </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-auto">
            <div class="border shadow-lg p-3 mb-5 bg-white rounded">
                <div class="table-responsive">
                    <h4 class="text-center"><b>Lignes bon de commande sortie</b></h4>
                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="2">qte attribuée<br>par le système</th>
                        </tr>
                        <tr>
                            <!--<th scope="col" class="th-sm"> modify </th>-->
                            <th scope="col" class="th-sm"> code client </th>
                            <th scope="col" class="th-sm"> désignation </th>
                            <th scope="col" class="th-sm"> qte commandée </th>
                            <th scope="col" class="th-sm"> qte colis </th>
                            <th scope="col" class="th-sm"> qte attribuée </th>
                            <th scope="col" class="th-sm"> <-diff-> </th>
                            <th scope="col" class="th-sm"> prod. </th>
                            <th scope="col" class="th-sm"> colis </th>
                            <th scope="col" class="th-sm"> <-diff-> </th>
                            <th scope="col" class="th-sm"> prod. </th>
                            <th scope="col" class="th-sm"> colis </th>
                            <th scope="col" class="th-sm"> priorité </th>
                            <th scope="col" class="th-sm"> terminée </th>
                            <th scope="col" class="th-sm"> delete </th>
                            <th scope="col" class="th-sm"> ID.Ligne bcs </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for items in lbcs %}
                        {% if items.fk_BonCommandeSortie.idBonCommandeSortie|safe == id %}
                        <tr class="">
                            <!--<td> <button type="button" id='{{ items.idBonCommandeSortie }}' class="dyna btn btn-sm btn-outline-grey rounded"> <i class="fa fa-arrow-right"></i> </button></td>-->
                            <td> {{ items.fk_Article.codeClient }} </td>
                            <td> {{ items.fk_Article.designationClient }} </td>
                            <td> {{ items.quantiteProduitCommande }} </td>
                            <td> {{ items.quantiteColisCommande }} </td>
                            <td class="text-center"> <input class="form-control-plaintext text-center prodaliv" value="{{ items.quantiteProduitALivrer }}"></td>
                            <td> {{ items.quantiteCommandePotentiel }} </td>
                            <td> {{ items.quantiteProduitLivre }} </td>
                            <td> {{ items.quantiteColisLivre }} </td>
                            <td> {{ items.differenceCommandeLivre }} </td>
                            <td> {{ items.quantiteProduitPotentielle }} </td>
                            <td> {{ items.quantiteColisPotentielle }} </td>
                            <td> {{ items.priorite }} </td>
                            {% if items.termine == '0' %}
                            <td> <button id='{{ items.idLigneBonCommandeSortie }}' class="termin btn btn-sm btn-outline-grey rounded-pill"> <i class="fa fa-pen"></i></button> </td>
                            {% else %}
                            <td> <button id='{{ items.idLigneBonCommandeSortie }}' class="termin btn btn-sm btn-outline-light-blue rounded-pill"> <i class="fa fa-pen"></i></button> </td>
                            {% endif %}
                            <td> <button id='{{ items.idLigneBonCommandeSortie }}' class="dynad btn btn-sm btn-outline-red rounded-pill"> <i class="fa fa-minus"></i></button> </td>
                            <td> {{ items.idLigneBonCommandeSortie }} </td>
                            <!--<tr>
                                <td> <button type="button" id='{{ items.idBonCommandeSortie }}' class="dyna btn btn-sm btn-outline-grey rounded"> <i class="fa fa-arrow-right"></i> </button></td>
                                <td> {{ items.fk_Destinataire.fk_TypeDestinataire.nom }} </td>
                                <td> {{ items.fk_Destinataire.codeUM }} </td>
                                <td> {{ items.dateCommande }} </td>
                                <td> {{ items.numeroCommande }} </td>
                                <td> {{ items.idBonCommandeSortie }} </td>
                                <td> {{ items.termine }} </td>
                                <td> <button id='{{ items.idBonCommandeSortie  }}' class="dynad btn btn-sm btn-outline-grey rounded-pill"> <i class="fa fa-minus"></i>   </button> </td>                            -->
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th> code client </th>
                            <th> désignation </th>
                            <th> qte commandée </th>
                            <th> qte colis </th>
                            <th> qte attribuée </th>
                            <th> <-diff-> </th>
                            <th> prod. </th>
                            <th> colis </th>
                            <th> <-diff-> </th>
                            <th> prod. </th>
                            <th> colis </th>
                            <th> priorité </th>
                            <th> terminée </th>
                            <th> delete </th>
                            <th> ID.Ligne bcs </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <button type="button" id="recalculate" class="btn btn-default btn-rounded btn-outline-dark">Re-Calculer &nbsp; <i class="fas fa-cogs"></i></button>
            </div>
        </div>
        <div class="col">
            <div class="border shadow-lg p-3 mb-5 bg-white rounded">
                <div class="table-responsive">
                    <h4 class="text-center"><b>Bons de livraison sortie</b></h4>
                    <table id="blstab" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th scope="col" class="th-sm"> </th>
                            <th scope="col" class="th-sm"> N° BL </th>
                            <th scope="col" class="th-sm"> date création </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for items in bls %}
                        {% if items.fk_BonCommandeSortie.idBonCommandeSortie == id %}
                        <tr>
                            <td> <a href='{% url "bonLivraisonSortiemodify" %}?id={{items.idBonLivraisonSortie|safe }}'><button type="button" id='{{ items.idBonLivraisonSortie }}' class="dyna btn btn-sm btn-outline-grey rounded"> <i class="fa fa-arrow-right"></i> </button></a></td>
                            <td> {{ items.idBonLivraisonSortie }} </td>
                            <td> {{ items.c_horodatage }} </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('#umtab').DataTable();
        $('#blstab').DataTable();
        $('.dataTables_length').addClass('bs-select');
        $('#boncommandesortie').fadeTo("slow", 0.5);

        $('#back-row').click(function () {
            location.href = "{% url 'bonCommandeSortie' %}";
        });

        $('.termin').click(function () {
            var id = $(this).attr('id');
            $.ajax({
                type: "POST",
                url: "/bon_sortie/modify/termin/", //lien de la view qui va faire qu'une ligne est "terminé"
                data: {
                    'idbcs': id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (msg, data, settings) {
                    console.log("gg " + msg);
                    location.reload();
                },
                failure: function () {
                    console.log("fail");
                }
            });
        });

        $('#createbls').click(function () {
            if (window.confirm("\"Vous allez créer le BLs à partir des UM sorties ?")) {
                $.ajax({
                    type: "POST",    //type de requête utilisé par ajax
                    url: "/bon_sortie/modify/creebls/", //lien de la view qui gère la requête post pour delete les lignes du bl
                    data: {
                        'idbcs': $('#idbcs').val().trim(),
                        'transporteur': $('#transsel').val().trim(),
                        'destinataire': $('#destinataire').val().trim(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (msg, data, settings) {
                        console.log("gg " + msg);
                        //location.reload();
                    },
                    failure: function () {
                        console.log("fail");
                    }
                });
            }
        });

        $('#client').val("");
        $('#transsel').val("");
        $('#destinataire').val("");

        '{% for items in bcs %}'
        if ('{{ items.idBonCommandeSortie}}' == '{{ id }}') {
            $('#idbcs').val('{{ items.idBonCommandeSortie }}');
            $('#codm').val('{{ items.fk_Destinataire.codeUM }}');
            $('#ncom').val('{{ items.numeroCommande }}');
            $('#datec').val('{{ items.dateCommande }}');
            $('#client').val('{{ items.fk_Client.nom }}');
            $('#transsel').val('{{ items.fk_Transporteur.nom }}');
            $('#destinataire').val('{{ items.fk_Destinataire.nom }}');
        }
        '{% endfor %}'

        $("#client").combobox();
        $("#destinataire").combobox();
        $("#transsel").combobox();
        $("#toggle").on("click", function () {
            $("#client").toggle();
            $("#destinataire").toggle();
            $("#transsel").toggle();
        });

        $('.prodaliv').change(function () {
            if (parseInt($(this).val()) == parseInt($(this).closest('td').parent().find('td').eq(6).text())) {
                console.log("gg  " + $(this).closest('td').parent().find('td').eq(6).text());
            } else {
                console.log("no gg " + $(this).closest('td').parent().find('td').eq(6).text());
            }
            $(this).closest('td').parent().find('td').eq(5).text(parseInt($(this).val()) - parseInt($(this).closest('td').parent().find('td').eq(6).text()));
        });
        $("#create-row").click(function() {
            location.href = "{% url 'bonCommandeSortieadd' %}";
        });

        $('#recalculate').click(function () {
            var codcli = 0;
            var desicl = 0;
            var qtecom = 0;
            var qtecol = 0;
            var qteatt = 0;
            var diff = 0;
            var idligne = 0;
            $('#dtBasicExample tr').each(function (a, b) {  //recupère les  entrée dans la table
                if (a === 0 || a === 1) {
                    // Je ne prends pas en compte le "thead".
                }
                else {
                    $(this).find('td').each(function(a, b) {
                        if (a === 0) {
                            codcli = $(this).text().trim();
                        }
                        if (a === 1) {
                            desicl = $(this).text().trim();
                        }
                        if (a === 2) {
                            qtecom = $(this).text().trim();
                        }
                        if (a === 3) {
                            qtecol = $(this).text().trim();
                        }
                        if (a === 4) {
                            qteatt = $(this).find('input').val().trim();
                        }
                        if (a === 5) {
                            diff = $(this).text().trim();
                        }
                        if (a === 14) {
                            idligne = $(this).text().trim();
                        }
                    });
                    console.log($('#idbcs').val() + codcli + desicl + " " + qtecom + " " + qtecol + " " + qteatt + " " + diff);
                    $.ajax({
                        type: "POST",    //type de requête utilisé par ajax
                        url: "/bon_sortie/modify/recalcule/", //lien de la view qui gère la requête post pour delete les lignes du bl
                        data: {
                            'idbcs' : $('#ncom').val(),
                            'codecli': codcli,
                            'desicl': desicl,
                            'qtecom': qtecom,
                            'qtecol': qtecol,
                            'qteatt': qteatt,
                            'diff': diff,
                            'idligne': idligne,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (msg, data, settings) {
                            console.log("gg " + msg);
                            //location.reload();
                        },
                        failure: function () {
                            console.log("fail");
                        }
                    });
                    //$(this).remove();
                }
            });
        });

    });
</script>
{% endblock %}
