{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<body>

<div class="container"><h1 class="text-center"> B.L <b>sortie</b></h1></div>
<br>

<div class="container">
    <div class="form-group row text-center">
        <!--<div class="col">
            <form method="post" novalidate enctype="multipart/form-data"  style="text-align: left;font-weight:bold;">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" style="position:sticky;bottom: 0; margin-left: 45%;">Import B.C</button>
            {{ form.as_p }}
        </form>
        </div>-->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border shadow-lg p-3 mb-5 bg-white rounded">
                <div class="table-responsive">
                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th scope="col" class="th-sm"> </th>
                            <th scope="col" class="th-sm"> code UM </th>
                            <th scope="col" class="th-sm"> numéro Bl </th>
                            <th scope="col" class="th-sm"> date création </th>
                            <th scope="col" class="th-sm"> destinataire </th>
                            <th scope="col" class="th-sm"> Quantité colis </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for items in blsortie %}
                        <tr>
                            <td> <a href='{% url "bonLivraisonSortiemodify" %}?id={{items.idBonLivraisonSortie|safe }}'><button type="button" id='{{ items.idBonCommandeSortie }}' class="dyna btn btn-sm btn-outline-grey rounded"> <i class="fa fa-arrow-right"></i> </button></a></td>
                            <td> {{ items.fk_BonCommandeSortie.fk_Destinataire.codeUM }} </td>
                            <td> {{ items.idBonLivraisonSortie }} </td>
                            <td> {{ items.c_horodatage }} </td>
                            <td> {{ items.fk_BonCommandeSortie.fk_Destinataire.nom }} </td>
                            <td> {{ items.qtecolis }} </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
        $('#boncommandesortie').fadeTo("slow", 0.5);
    });

    $("#create-row").click(function() {
        location.href = "{% url 'bonLivraisonSortieadd' %}";
    });

    $(document).on("click", "button.dyna" , function(e) { // event pour modifier les entree transporteur
        var idClicked = e.target.id;
        var name = "";
        var trueid = 0;
        //alert(idClicked);
        "{% for items in sortie %}"
        if ('{{ items.idbonCommandeSortie }}' == idClicked) {
            name = '{{ items.nom }}';
            trueid = '{{ items.id }}';
        }
        "{% endfor %}"
        window.location.href = "{% url 'bonLivraisonSortiemodify' %}?id=" + idClicked + "&" + "name=" + name + "&" + "trueid=" + trueid;
    });

    $(document).on("click", "button.dynad" , function(e) { // event pour delete la ligne sélectionner
        var idClicked = e.target.id;
        //alert(idClicked);
        $.ajax({
            type:"POST",    //type de requête utilisé par ajax
            url:"/delete_bl_sortie/", //lien de la view qui gère la requête post pour supprimer une entree
            data: {
                'name': $('#nom').val(), // nom du transporteur récuperer dans le input #nom
                'id': idClicked, // id du transporteur acquis grace a une incrementation en js
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(msg, data, settings){
                console.log("gg " + msg);
                location.reload();
            },
            failure: function() {
                console.log("fail");
                location.reload();
            }
        });
    });
</script>
{% endblock %}
