{% extends "base_generic.html" %}

{% block content %}

<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em;}
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container"><h1 class="text-center"> Ajout Bon de Livraison Sortie</h1></div>
<br>

<div class="container">
    <div class="form-group row text-center">
        <div class="col">
            <button type="button" class="btn btn-light btn-rounded btn-outline-dark">Recherche</button>
        </div>
        <div class="col">
            <button type="button" id="back-row" class="btn btn-default btn-rounded btn-outline-dark">Tout</button>
        </div>
        <div class="col">
            <button type="button" id="create-row" class="btn btn-success btn-rounded btn-outline-dark">Ajouter</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-default btn-rounded btn-outline-dark">Calculer</button>
        </div>
    </div>
</div>

<!--
  {% for items in sortie %}
  {{ items.fk_Destinataire.fk_TypeDestinataire.nom }}
  {{ items.fk_Destinataire.nom }}
  {{ items.fk_Destinataire.codeUM }}
  {{ items.dateCommande }}
  {{ items.numeroCommande }}
  {{ items.idBonCommandeSortie }}
  {{ items.termine }}
  {% endfor %}
-->

<div class="container">
    <div class="row">
        <div class="border shadow-lg p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="text-center"> Identifiant </h3>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success pull-right"> créer BL </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 px-4">
                    <div class="ui-widget">
                        <label for="Trans"> Transporteur:</label>
                        <select class="form-control" id="combobox_transpo">
                            <script>
                                $(document).ready(function() {
                                    var i = 0;
                                    "{% for items in sortie %}"
                                    var name = "{{ items.fk_Client.nom }}";
                                    var oldname;
                                    if (i == 0)
                                        $("#combobox_transpo").append(new Option("{{ items.fk_Client.nom }}", "1"));
                                    else if (name != oldname)
                                        $("#combobox_transpo").append(new Option("{{ items.fk_Client.nom }}", "1"));
                                    oldname = name;
                                    i = 1;
                                    "{% endfor %}"
                                });
                            </script>
                        </select>
                    </div>

                    <div class="ui-widget">
                        <label for=""> lettre de voiture:</label>
                        <select class="form-control" id="combobox2">
                            <script>
                                $(document).ready(function() {
                                    var i = 0;
                                    "{% for items in sortie %}"
                                    var name = "{{ items.fk_Destinataire.nom }}";
                                    var oldname;
                                    if (i == 0)
                                        $("#combobox2").append(new Option("{{ items.fk_Destinataire.nom }}", "1"));
                                    else if (name != oldname) {
                                        $("#combobox2").append(new Option("{{ items.fk_Destinataire.nom }}", "1"));
                                    }
                                    console.log(name);
                                    oldname = name;
                                    i = 1;
                                    "{% endfor %}"
                                });
                            </script>
                        </select>
                        <button id="butcofrm" type="button" class="btn btn-light"> confirm </button>
                        <script>
                            $("#butcofrm").click( function() {
                                var val = $('#combobox2').val();
                                var destinat = $('#combobox2').find(":selected").text();
                                "{% for items in sortie %}"
                                if ('{{ items.fk_Destinataire.nom }}' == destinat)
                                    $("#umid").val('{{ items.fk_Destinataire.codeUM }}');
                                "{% endfor %}"
                            });
                        </script>
                    </div>
                    <br>
                    <div class="row-md-2">
                        n° BL: <input type="text" id="umid" name="id">
                    </div>
                    <br>
                    <div class="row-md-2">
                        prix expédition: <input type="text" id="umid" name="id">
                    </div>
                </div>

                <div class="col-md-6 px-4">
                    <div class="row ">
                        <div class="ui-widget">
                            <label for=""> Destinataire:</label>
                            <select class="form-control" id="combobox_dest">
                                <script>
                                    $(document).ready(function() {
                                        var i = 0;
                                        "{% for items in sortie %}"
                                        var name = "{{ items.fk_Destinataire.nom }}";
                                        var oldname;
                                        if (i == 0)
                                            $("#combobox_dest").append(new Option("{{ items.fk_Destinataire.nom }}", "1"));
                                        else if (name != oldname) {
                                            $("#combobox_dest").append(new Option("{{ items.fk_Destinataire.nom }}", "1"));
                                        }
                                        console.log(name);
                                        oldname = name;
                                        i = 1;
                                        "{% endfor %}"
                                    });
                                </script>
                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="ui-widget">
                            <label for=""> Bon de commande:</label>
                            <select class="form-control" id="combobox_bon">
                                <script>
                                    $(document).ready(function() {
                                        var i = 0;
                                        "{% for items in sortie %}"
                                        var name = "{{ items.fk_Destinataire.nom }}";
                                        var oldname;
                                        if (i == 0)
                                            $("#combobox_bon").append(new Option("{{ items.fk_Destinataire.nom }}", "1"));
                                        else if (name != oldname) {
                                            $("#combobox_bon").append(new Option("{{ items.fk_Destinataire.nom }}", "1"));
                                        }
                                        console.log(name);
                                        oldname = name;
                                        i = 1;
                                        "{% endfor %}"
                                    });
                                </script>
                            </select>
                        </div>

                    </div>
                    <br>
                    <div class="col">
                        <br>
                        <label for="Date com">Date d'impression:</label>
                        <input type="text" name="dateCommande" id="datepicker" value="" class="text ui-widget-content ui-corner-all" style="margin-left: -9%">
                        <script>
                            $(document).ready(function() {
                                $("#datepicker").datepicker({
                                    showOn: "button",
                                    buttonImage: "{{ STATIC_URL }} /static/img/calendar.gif",
                                    buttonImageOnly: true,
                                    dateFormat: 'dd-mm-yy'
                                });
                            });
                        </script>
                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                    </div>

                    <div class="row-md-2">
                        code tracking: <input type="text" id="umid" name="id">
                    </div>
                    <button id="butvalidate" type="button" class="btn btn-success float-right mt-5"> Valide </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- lignes bon livra sortie -->
        <div class="col-6">
            <div class="row border shadow p-3 mb-5 bg-white rounded" style="margin-left: 0px">
                <h3> Lignes du bon de livraison sortie </h3>
                <br>
                <div class="table-responsive">
                    <!--Table-->
                    <table class="table table-striped table-bordered table-sm" id="bltab" cellspacing="0" width="100%">

                        <!--Table head-->
                        <thead>
                        <tr>
                            <th>code fournisseur</th>
                            <th>code client</th>
                            <th>désignation fournisseur</th>
                            <th>qte produits</th>
                            <th>qte colis</th>
                            <th></th>
                        </tr>
                        </thead>
                        <!--Table head-->

                        <!--Table body-->
                        <tbody>
                        {% for itemsbl in sortiebl %}
                        {% for items in sortie %}
                        <script>
                            if ("{{ itemsbl.fk_BonCommandeSortie.idBonCommandeSortie }}" == "{{ items.idBonCommandeSortie }}") {
                                $("<tr>").appendTo($("#bltab"));
                                $("<td> </td>").appendTo($("#bltab"));
                                $("<td> {{ itemsbl.numeroBonLivraison }} </td>").appendTo($("#bltab"));
                                $("<td> {{ itemsbl.c_horodatage }} </td>").appendTo($("#bltab"));
                                $("<tr>").appendTo($("#bltab"));
                            }
                            $(document).ready(function () {
                                $('#dtBasicExample').DataTable();
                                $('.dataTables_length').addClass('bs-select');
                            });
                        </script>
                        {% endfor %}
                        {% endfor %}
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
            </div>
        </div>

        <div class="col-6">
            <!--um sortie -->
            <div class="col ">
                <div class="col border shadow p-3 mb-5 bg-white rounded">
                    <h3> Um Sortie </h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">numéro</th>
                                <th scope="col">date ouverture</th>
                                <th scope="col">date fermeture</th>
                                <th scope="col">date expédition</th>
                                <th scope="col">poids</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for items in umsortie %}
                            <tr>
                                <td>
                                    {{ items.numero }}
                                </td>
                                <td>
                                    {{ items.dateOuverture }}
                                </td>
                                <td>
                                    {{ items.dateFermeture }}
                                </td>
                                <td>
                                    {{ items.dateExpedition }}
                                </td>
                                <td>
                                    {{ items.poidsBrut }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Ligne Bon de commande sortie -->
<div class="container">
</div>

<script>
    $(document).ready(function() {
        $("#back-row").click( function() {
            location.href = "{% url 'bonCommandeSortie' %}";
        });
        var idx = 0;
        var upperid = "0";
        "{% for items in sortie %}"
        idx++;
        if (upperid < "{{ items.idBonCommandeSortie }}")
            upperid = "{{ items.idBonCommandeSortie }}";
        "{% endfor %}"
        $("#identif").val(parseInt(upperid, 10) + 1);
//evenement pour revenir sur la page "list bon commande sortie"
        $("#create-row").click(function() {
            //location.href = "{% url 'bonCommandeSortie' %}";
        });
    });

    //Client combobox avec JQury ui
    $(function() {
        $(".ui-widget").click( function() {
            var val = $('#combobox2').val();
            var destinat = $('#combobox2').find(":selected").text();
            "{% for items in sortie %}"
            if ('{{ items.fk_Destinataire.nom }}' == destinat)
                $("#umid").val('{{ items.fk_Destinataire.codeUM }}');
            "{% endfor %}"
        });

        $.widget( "custom.combobox", {
            _create: function() {
                this.wrapper = $( "<span>" )
                    .addClass( "custom-combobox" )
                    .insertAfter( this.element );

                this.element.hide();
                this._createAutocomplete();
                this._createShowAllButton();
            },

            _createAutocomplete: function() {
                var selected = this.element.children( ":selected" ),
                    value = selected.val() ? selected.text() : "";

                this.input = $( "<input>" )
                    .appendTo( this.wrapper )
                    .val( value )
                    .attr( "title", "" )
                    .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy( this, "_source" )
                    })
                    .tooltip({
                        classes: {
                            "ui-tooltip": "ui-state-highlight"
                        }
                    });


                this._on( this.input, {
                    autocompleteselect: function( event, ui ) {
                        ui.item.option.selected = true;
                        this._trigger( "select", event, {
                            item: ui.item.option
                        });
                    },
                    autocompletechange: "_removeIfInvalid"
                });
            },

            _createShowAllButton: function() {
                var input = this.input,
                    wasOpen = false;

                $( "<a>" )
                    .attr( "tabIndex", -1 )
                    .attr( "title", "Show All Items" )
                    .tooltip()
                    .appendTo( this.wrapper )
                    .button({
                        icons: {
                            primary: "ui-icon-triangle-1-s"
                        },
                        text: false
                    })
                    .removeClass( "ui-corner-all" )
                    .addClass( "custom-combobox-toggle ui-corner-right" )
                    .on( "mousedown", function() {
                        wasOpen = input.autocomplete( "widget" ).is( ":visible" );
                    })
                    .on( "click", function() {
                        input.trigger( "focus" );
                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }
                        // Pass empty string as value to search for, displaying all results
                        input.autocomplete( "search", "" );
                    });
            },

            _source: function( request, response ) {
                var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                response( this.element.children( "option" ).map(function() {
                    var text = $( this ).text();
                    if ( this.value && ( !request.term || matcher.test(text) ) )
                        return {
                            label: text,
                            value: text,
                            option: this
                        };
                }) );
            },

            _removeIfInvalid: function( event, ui ) {

                // Selected an item, nothing to do
                if ( ui.item ) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children( "option" ).each(function() {
                    if ( $( this ).text().toLowerCase() === valueLowerCase ) {
                        this.selected = valid = true;
                        return false;
                    }
                });

                // Found a match, nothing to do
                if ( valid ) {
                    return;
                }

                // Remove invalid value
                this.input
                    .val( "" )
                    .attr( "title", value + " didn't match any item" )
                    .tooltip( "open" );
                this.element.val( "" );
                this._delay(function() {
                    this.input.tooltip( "close" ).attr( "title", "" );
                }, 2500 );
                this.input.autocomplete( "instance" ).term = "";
            },

            _destroy: function() {
                this.wrapper.remove();
                this.element.show();
            },
        });


        $("#combobox").combobox();
        $("#combobox2").combobox();
        $("#combobox3").combobox();
        $("#combobox_dest").combobox();
        $("#combobox_transpo").combobox();
        $("#combobox_bon").combobox();

        $("#toggle").on("click", function() {
            $("#combobox").toggle();
            $("#combobox2").toggle();
            $("#combobox3").combobox();
            $("#combobox_transpo").combobox();
            $("#combobox_dest").combobox();
            $("#combobox_bon").combobox();
        });
    });
    //destinataire combobox jquery
</script>

{% endblock %}