{% extends "base_generic.html" %}
{% block content %}
<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em;}
</style>

<div class="container"><h1 class="text-center"> Modification de Client</h1></div>
<br>
<div class="container">
    <div class="form-group row text-center">
        <div class="col">
            <i class="fa fa-chevron-circle-left" style="font-size:45px;cursor: pointer;"></i>
        </div>
        <div class="col">
            <button type="button" id="back-row" class="btn btn-default btn-rounded btn-outline-dark">Tout</button>
        </div>
        <div class="col">
            <button type="button" id="create-row" class="btn btn-success btn-rounded btn-outline-dark">Ajouter</button>
        </div>
        <div class="col">
            <i class="fa fa-chevron-circle-right" style="font-size:45px;cursor: pointer;"></i>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="border shadow-lg p-3 mb-5 bg-white rounded col-md-auto">
            <h3 class="text-center"> identification </h3>
            <br>
            <div> logo :

            </div>
            <div class="">
                identifiant:<br><input type="text" id="umid" name="id_Client" disabled>
            </div>
            <div>
                nom: <br><input type="text" id="nom" name="nom_Client">
            </div>
            <div>
                téléphone: <br><input type="text" id="tel" name="tel_Client">
            </div>
            <div>
                e-mail: <br><input type="text" id="mail" name="email_Client">
            </div>
            <div>
                TVA: <br><input type="text" id="tva" name="tva_Client">
            </div>
            <div>
                siret: <br><input type="text" id="siret" name="siret_Client">
            </div>
            <div>
                adresse: <br><textarea type="text" id="addr" name="adresse_Client"></textarea>
            </div>
            <div class="">
                Zone:
                <br>
                <select class="form-control" id="zonetype">
                    <script>
                        $(document).ready(function() {
                            var i = 0;
                            "{% for items in typez %}"
                            //console.log("{{ items.nom }}");
                            //to change
                            var name = "{{ items.nom }}";
                            var oldname;
                            if (i == 0)
                                $("#zonetype").append(new Option("{{ items.nom }}", "{{ items.nom }}"));
                            else if (name != oldname)
                                $("#zonetype").append(new Option("{{ items.nom }}", "{{ items.nom }}"));
                            oldname = name;
                            i = 1;
                            "{% endfor %}"
                        });
                    </script>
                </select>
            </div>

            <div class="">
                type  destinataire: <br>
                <select class="form-control" id="destitype">
                    <script>
                        $(document).ready(function() {
                            var i = 0;
                            "{% for items in typed %}"
                            //console.log("{{ items.nom }}");
                            //to change
                            var name = "{{ items.nom }}";
                            var oldname;
                            if (i == 0)
                                $("#destitype").append(new Option("{{ items.nom }}", "{{ items.nom }}"));
                            else if (name != oldname)
                                $("#destitype").append(new Option("{{ items.nom }}", "{{ items.nom }}"));
                            oldname = name;
                            i = 1;
                            "{% endfor %}"
                        });
                    </script>
                </select>
            </div>

            <div class="">
                type fournisseur: <br>
                <select class="form-control" id="fournitype">
                    <script>
                        $(document).ready(function() {
                            var i = 0;
                            "{% for items in typef %}"
                            //console.log("{{ items.nom }}");
                            //to change
                            var name = "{{ items.nom }}";
                            var oldname;
                            if (i == 0)
                                $("#fournitype").append(new Option("{{ items.nom }}", "{{ items.nom }}"));
                            else if (name != oldname)
                                $("#fournitype").append(new Option("{{ items.nom }}", "{{ items.nom }}"));
                            oldname = name;
                            i = 1;
                            "{% endfor %}"
                        });
                    </script>
                </select>

            </div>
            <div class="">
                type article: <br>
                <select class="form-control" id="typearticle">
                    <script>
                        $(document).ready(function() {
                            var i = 0;
                            "{% for items in typea %}"
                            //console.log("{{ items.nom }}");
                            //to change
                            var name = "{{ items.nom }}";
                            var oldname;
                            if (i == 0)
                                $("#typearticle").append(new Option("{{ items.nom }}", "{{ items.nom }}"));
                            else if (name != oldname)
                                $("#typearticle").append(new Option("{{ items.nom }}", "{{ items.nom }}"));
                            oldname = name;
                            i = 1;
                            "{% endfor %}"
                        });
                    </script>
                </select>
            </div>

            <div class="">
                source: <br><input type="text" id="src" name="source_Client">
            </div>
            <div class="">
                identifiant source: <br><input type="text" id="srcid" name="idsource_Client">
            </div>
            <br>
            <button type="button" class="btn btn-primary" id="sendclient"> Sauvegarde </button>
        </div>

        <div class="col-5">
            <div class="row">
                <div class="col-12 col-md-auto border shadow-lg p-3 mb-5 bg-white rounded ml-2">
                    Bons de commande sortie
                    <div class="table-responsive">

                        <table id="dtBasicExample1" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th scope="col" class="th-sm text-center"> modify </th>
                                <th scope="col" class="th-sm text-center"> nom </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col-md-auto border shadow-lg p-3 mb-5 bg-white rounded mr-2 ml-1">
                    Bons de livraison entree
                    <div class="table-responsive">
                        <table id="dtBasicExample2" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th scope="col" class="th-sm text-center"> modify </th>
                                <th scope="col" class="th-sm text-center"> num. b.l </th>
                                <th scope="col" class="th-sm text-center"> delete </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-auto border shadow-lg p-3 mb-5 bg-white rounded mr-2 ml-1">
                    Ordre de transport
                    <div class="table-responsive">
                        <table id="dtBasicExample3" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th scope="col" class="th-sm text-center"> modify </th>
                                <th scope="col" class="th-sm text-center"> nom </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="col-12 col-md-auto border shadow-lg p-3 mb-5 bg-white rounded">
                <div class="row">
                    <div class="col-md-auto">
                        Contact
                        <table id="contacttable" class="table  table-hover table-responsive table-bordered " cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th scope="col" class="th-sm"> role </th>
                                <th scope="col" class="th-sm"> nom </th>
                                <th scope="col" class="th-sm"> prenom </th>
                                <th scope="col" class="th-sm"> tel </th>
                                <th scope="col" class="th-sm"> mail </th>
                                <th scope="col" class="th-sm"> del </th>
                            </tr>
                            </thead>
                            <tbody id="contactbody">
                            <tr id="to_del">
                                <td contenteditable='true'>...</td>
                                <td contenteditable='true'>...</td>
                                <td contenteditable='true'>...</td>
                                <td contenteditable='true'>...</td>
                                <td contenteditable='true'>...</td>
                                <td> <button class="deleteur"> X </button></td>
                            </tr>
                            </tbody>
                            <script>
                                '{% for items in con %}'
                                $(document).ready(function() {
                                    if ('{{ items.fk_Client.idClient }}' == '{{ id }}') {
                                        $("#to_del").remove();
                                        var i = 0;
                                        var rolenamez = [];
                                        var idx = 0;
                                        var nm = $("#contacttable > tbody > tr").length;
                                        $('#contactbody')
                                            .append('<tr><td><select class="myselects" name="role" id=' + nm +'></select></td><td contenteditable=\'true\'>{{ items.nom }}</td><td contenteditable=\'true\'>{{ items.prenom }}</td><td contenteditable=\'true\'>{{ items.telephone }}</td><td contenteditable=\'true\'>{{ items.email }}</td><td><button class="deleteur">X</button></td><td style="display:none;">{{ items.idContact }}</td></tr>');
                                        "{% for items in rlc %}"
                                        rolenamez[idx] = "{{ items.nom }}";
                                        idx++;
                                        "{% endfor %}"
                                        for (var rl = 0; rl != rolenamez.length; rl++) {
                                            $('#'+ nm).append("<option name=\"1\">" + rolenamez[rl] + "</option>");
                                        }
                                        //Remplissage des contactes pour un client x
                                        $("#"+nm+" option[name='1']").attr({value: "{{ items.fk_RoleContact.nom }}",
                                            selected: 'selected'});
                                        $("#"+nm+" option[name='1']").attr("value", "{{ items.fk_RoleContact }}").filter(function() {
                                            return ($(this).text() == '{{ items.fk_RoleContact.nom }}'); //To select Blue
                                        }).prop('selected', true);
                                        console.log($("#"+nm+" option[name='1']").attr('selected', "selected").val());
                                    }
                                    //else
                                    //console.log("bad hahaha " + '{{items.fk_Client.idClient}}' + ' ' + '{{id}}');
                                });
                                '{% endfor %}'
                            </script>
                        </table>
                    </div>
                    <button class="btn btn-secondary right-align" id="tableadd"> Add Contact </button>
                </div>
            </div>
            <div class="border shadow-lg p-3 mb-5 bg-white rounded ml-1">
                <div class="row">
                    Commentaire
                    : <br><textarea type="text" id="comtxt" name="comm" class="border rounded"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $(".fa-chevron-circle-right").click(function() {
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/right_client/", //lien de la view qui gère la requête post
                data: {
                    'id': $('#umid').val(), // id du transporteur acquis grace a une incrementation en js
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    if (msg != "fail")
                        window.location.href = "{% url 'clientmodify' %}?id=" +  msg;
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });

        $(".fa-chevron-circle-left").click(function() {
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/left_client/", //lien de la view qui gère la requête post
                data: {
                    'id': $('#umid').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    if (msg != "fail")
                        window.location.href = "{% url 'clientmodify' %}?id=" +  msg;
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });

        var i = 0;
        $('.contactrole').each(function() {
            i++;
            var newID = i;
            $(this).attr('id', newID);
            $(this).val(i);
        });
        var i = 0;
        $('.tdc').each(function() {
            i++;
            var newID = "tdc" + i;
            $(this).attr('id', newID);
            $(this).val(i);
        });

        $("#umid").val('{{ id }}');
        '{% for items in cli %}'
        if ('{{ items.idClient }}' == $("#umid").val()) {
            //console.log("gg hit");
            $("#nom").val('{{ items.nom }}');
            $("#tel").val('{{ items.telephone }}');
            $("#mail").val('{{ items.email }}');
            $("#tva").val('{{ items.tva }}');
            $("#siret").val('{{ items.siret }}');
            $("#addr").val('{{ items.adresse }}');

            $("#zonetype").val('{{ items.fk_TypeZone.nom }}');
            $("#destitype").val('{{ items.fk_TypeDestinataire.nom }}');
            $("#fournitype").val('{{ items.fk_TypeFournisseur.nom }}');
            $("#typearticle").val('{{ items.fk_TypeArticle.nom }}');

            $("#src").val('{{ items.source }}');
            $("#srcid").val('{{ items.identifiantSource }}');
            $("#comtxt").val('{{ items.commentaire }}');
        }
        '{% endfor %}'
        $("#sendclient").click(function() {
            $("#to_del").remove();
            var i = 0;
            var contact = {};
            var idx = 0;
            var nom = "";
            var prenom = "";
            var tel = "";
            var mail = "";
            var role = "";
            var idcontact = "";
            $('#contacttable tr').each(function (a, b) {  //recupère les contacts entrée dans la table
                if (a === 0) { //on veut pas récuperer le "thead" car c'est la ligne des "titres" donc useless
                }
                else {
                    var val = $('#contacttable').find('#'+idx +" :selected").text();
                    //var val = $('#contacttable').find('#'+idx).val();
                    var stock = "";
                    $(this).find('td').each (function(a, b) {
                        if (a === 0 || a === 5) {
                        } else {
                            stock = $(this).text();
                            if (a === 1) {
                                nom = stock;
                            }
                            if (a === 2) {
                                prenom = stock;
                            }
                            if (a === 3) {
                                tel = stock;
                            }
                            if (a === 4) {
                                mail = stock;
                            }
                            if (a === 6) {
                                idcontact = stock;
                            }
                        }
                    });
                    contact[idx] = {"role": val, "nom": nom, "prenom": prenom, "tel": tel, "mail": mail, "idcontact": idcontact};
                    role = val;
                    idx++;
                }
            });
            var contactnb = 0;
            //sur cette page je fais autant de requête ajax que nécessaire
            //console.log(contactnb);
            var totalcontact = 0;
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/modify_cli/", //lien de la view qui gère la requête post
                data: {
                    'nom': $('#nom').val(), // nom du transporteur récuperer dans le input #nom
                    'id': $('#umid').val(), // id du transporteur acquis grace a une incrementation en js
                    'telephone': $('#tel').val(),
                    'email': $('#mail').val(),
                    'tva': $('#tva').val(),
                    'siret': $('#siret').val(),
                    'adresse': $('#addr').val(),
                    'zone': $('#zonetype').val(),
                    'typedest': $('#destitype').val(),
                    'typefour': $('#fournitype').val(),
                    'typeart': $('#typearticle').val(),
                    'source': $('#src').val(),
                    'idsource': $('#srcid').val(),

                    'boncs': $('#dtBasicExample1').val(), //donnée dans bon commande sortie
                    'bonle': $('#dtBasicExample2').val(), //donnée dans bon livraison entree
                    'odt': $('#dtBasicExample1').val(), //donnée dans ordre de transport
                    'commentaire': $('#comtxt').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings) {
                    console.log(msg);
                    if (Object.keys(contact).length > 0) {
                        for (key in contact) {
                            totalcontact = 0;
                            '{% for items in con %}'
                            totalcontact++;
                            '{% endfor %}'
                            modify_cli();
                            contactnb++;
                        }
                    }
                },
                failure: function() {
                    alert("fail");
                }
            });
            function modify_cli() {
                totalcontact = 1;
                '{% for items in con %}'
                if ('{{ items.idContact }}' >= totalcontact) {
                    console.log("contact+");
                    totalcontact = parseInt('{{ items.idContact }}', 10);
                }
                '{% endfor %}'
                console.log(totalcontact);
                $.ajax({
                    type:"POST",    //type de requête utilisé par ajax
                    url:"/modify_cli_contact/", //lien de la view qui gère la requête post
                    data: {
                        'id': $('#umid').val(), // id du transporteur acquis grace a une incrementation en js
                        'role': contact[contactnb].role,
                        'name': contact[contactnb].nom,
                        'prenom': contact[contactnb].prenom,
                        'tel': contact[contactnb].tel,
                        'mail': contact[contactnb].mail,
                        'idcontact': contact[contactnb].idcontact,
                        'totalcontact':totalcontact+1,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(msg, data, settings) {
                        console.log(msg);
                    },
                    failure: function() {
                        alert("fail");
                    }
                });
            }
        });
        /*$('#dtHorizontalVerticalExample').DataTable({
        "scrollX": true,
        "scrollY": 200,
      });*/
        $('#dtBasicExample1').find('tr').eq(1).remove();
        $('#dtBasicExample2').find('tr').eq(1).remove();
        $('#dtBasicExample3').find('tr').eq(1).remove();
        '{% for items in entree %}'
            console.log("entree");
            if ('{{ items.fk_Client.nom }}' == $('#nom').val()) {
                $('#dtBasicExample2')
                    .append('<tr><td class=\'text-center\'><button class=\'resetb dyna\' id=\"{{ items.idBonLivraisonEntree }}\"><i class=\"fas fa-arrow-right\"></i></button></td>' +
                        '<td class=\'text-center\'>{{ items.numeroBonLivraison }}</td><td><button class=\'resetb btn btn-light btn-sm dynad\' id=\"{{ items.idBonLivraisonEntree }}\"><i class=\"fas fa-trash-alt\"></i></button></td></tr>');
            }
        '{% endfor %}'

        '{% for items in bcs %}'
        console.log("entree");
        $('#dtBasicExample1')
            .append('<tr><td><td contenteditable=\'true\'></td><td><button class="deleteur">X</button></td></tr>');
        '{% endfor %}'

        '{% for items in odt %}'
        console.log("entree");
        $('#dtBasicExample3')
            .append('<tr><td><td contenteditable=\'true\'></td><td><button class="deleteur">X</button></td></tr>');
        '{% endfor %}'
        $('#dtBasicExample1').DataTable();
        $('#dtBasicExample2').DataTable();
        $('#dtBasicExample3').DataTable();
        $('.dataTables_length').addClass('bs-select');

        $('.dyna').click(function () {
            console.log("this id = " + $(this).attr('id'));
            var idClicked = $(this).attr('id');
            var name = "";
            var trueid = 0;
            alert(idClicked);
            "{% for items in entree %}"
            if ('{{ items.idBonLivraisonEntree }}' == idClicked) {
                name = '{{ items.nom }}';
                trueid = '{{ items.id }}';
            }
            "{% endfor %}"
            window.location.href = "{% url 'bonLivraisonEntreemodify' %}?id=" + idClicked + "&" + "name=" + name + "&" + "trueid=" + trueid;
        });

        /*    var table = $('#dtHorizontalVerticalExample').DataTable();
            $('#contactbody').on( 'click', '.deleteur', function () {
             table
                 .row( $(this).parents('tr') )
                 .remove()
                 .draw();
          } );*/
        var numbreaddclient = 0;
        $("#tableadd").click(function() {
            if (numbreaddclient == 0) {
                var rolenamez = [];
                var idx = 0;
                $("#to_del").remove();
                var nm = $("#contacttable > tbody > tr").length;

                $('#contactbody')
                    .append('<tr><td><select name="role" id='+ nm +'></select></td><td contenteditable=\'true\'></td><td contenteditable=\'true\'></td><td contenteditable=\'true\'></td><td contenteditable=\'true\'></td><td><button class="deleteur">X</button></td><td style="display:none;"></td></tr>');
                "{% for items in rlc %}"
                rolenamez[idx] = "{{ items.nom }}";
                //console.log(rolenamez[idx]);
                idx++;
                "{% endfor %}"
                for (var rl = 0; rl != rolenamez.length; rl++) {
                    $('#'+ nm).append("<option>" + rolenamez[rl] + "</option>")
                }
                rolenamez = [];
                numbreaddclient++;
            }
        });
        $('#contactbody').on('click', '.deleteur', function() {
            var id = $(this).parent('td').next('td').text();
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/delete_cli_contact/", //lien de la view qui gère la requête post
                data: {
                    'id': id, // id du transporteur acquis grace a une incrementation en js
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings) {
                    console.log(msg);
                },
                failure: function() {
                    alert("fail");
                }
            });
            $(this).parent().parent().remove();
        });

        $("#back-row").click( function() {
            location.href = "{% url 'client' %}";
        });
        $("#nom").change(function () {
            console.log( $(this).val() );
        });
    });

    $('#post-form').on('submit', function(event) {
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        create_post();
    });
    function create_post() {
        console.log("create post is working!") // sanity check
        console.log($('#post-text').val())
    };

    $(function() {
        $(".ui-widget").click( function() {
            var val = $('#combobox2').val();
            var destinat = $('#combobox2').find(":selected").text();
            "{% for items in sortie %}"
            if ('{{ items.fk_Destinataire.nom }}' == destinat)
                $("#umid").val('{{ items.fk_Destinataire.codeUM }}');
            "{% endfor %}"
        });

        $.widget( "custom.combobox", {
            _create: function() {
                this.wrapper = $( "<span>" )
                    .addClass( "custom-combobox" )
                    .insertAfter( this.element );

                this.element.hide();
                this._createAutocomplete();
                this._createShowAllButton();
            },

            _createAutocomplete: function() {
                var selected = this.element.children( ":selected" ),
                    value = selected.val() ? selected.text() : "";

                this.input = $( "<input>" )
                    .appendTo( this.wrapper )
                    .val( value )
                    .attr( "title", "" )
                    .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy( this, "_source" )
                    })
                    .tooltip({
                        classes: {
                            "ui-tooltip": "ui-state-highlight"
                        }
                    });

                this._on( this.input, {
                    autocompleteselect: function( event, ui ) {
                        ui.item.option.selected = true;
                        this._trigger( "select", event, {
                            item: ui.item.option
                        });
                    },
                    autocompletechange: "_removeIfInvalid"
                });
            },

            _createShowAllButton: function() {
                var input = this.input,
                    wasOpen = false;

                $( "<a>" )
                    .attr( "tabIndex", -1 )
                    .attr( "title", "Show All Items" )
                    .tooltip()
                    .appendTo( this.wrapper )
                    .button({
                        icons: {
                            primary: "ui-icon-triangle-1-s"
                        },
                        text: false
                    })
                    .removeClass( "ui-corner-all" )
                    .addClass( "custom-combobox-toggle ui-corner-right" )
                    .on( "mousedown", function() {
                        wasOpen = input.autocomplete( "widget" ).is( ":visible" );
                    })
                    .on( "click", function() {
                        input.trigger( "focus" );
                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }
                        // Pass empty string as value to search for, displaying all results
                        input.autocomplete( "search", "" );
                    });
            },

            _source: function( request, response ) {
                var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                response( this.element.children( "option" ).map(function() {
                    var text = $( this ).text();
                    if ( this.value && ( !request.term || matcher.test(text) ) )
                        return {
                            label: text,
                            value: text,
                            option: this
                        };
                }) );
            },

            _removeIfInvalid: function( event, ui ) {

                // Selected an item, nothing to do
                if ( ui.item ) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children( "option" ).each(function() {
                    if ( $( this ).text().toLowerCase() === valueLowerCase ) {
                        this.selected = valid = true;
                        return false;
                    }
                });
                // Found a match, nothing to do
                if (valid) {
                    return;
                }
                // Remove invalid value
                this.input
                    .val("")
                    .attr("title", value + " didn't match any item")
                    .tooltip("open");
                this.element.val("");
                this._delay(function() {
                    this.input.tooltip("close").attr("title", "");
                }, 2500);
                this.input.autocomplete("instance").term = "";
            },

            _destroy: function() {
                this.wrapper.remove();
                this.element.show();
            },
        });

        $("#destitype").combobox();
        $("#paysid").combobox();
        $("#zonetype").combobox();
        $("#fournitype").combobox();
        $("#typearticle").combobox();
        $("#toggle").on("click", function() {
            $("#typearticle").combobox();
            $("#fournitype").combobox();
            $("#zonetype").combobox();
            $("#destitype").toggle();
            $("#paysid").toggle();
        });
    });

</script>

{% endblock %}