{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em;}
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container"><h1 class="text-center"> Modification du fournisseur </h1></div>
<br>
<div class="container">
    <div class="form-group row text-center">
        <div class="col">
            <i class="fa fa-chevron-circle-left" style="font-size:45px;cursor: pointer;"></i>
        </div>

        <div class="col">
            <button type="button" id="back-row" class="btn btn-default btn-rounded btn-outline-dark">Tout</button>
        </div>
        <div class="col">
            <button type="button" id="create-row" class="btn btn-success btn-rounded btn-outline-dark">Ajouter</button>
        </div>
        <div class="col">
            <i class="fa fa-chevron-circle-right" style="font-size:45px;cursor: pointer;"></i>
        </div>

    </div>
</div>

<div class="container">
    <div class="row" style="width: auto; height: 100%;">
        <div class="border shadow-lg p-3 mb-5 bg-white rounded" style="width: 100%; height: auto;">
            <div class="row">
                <div class="col" >
                    <h3 class="text-center"> identification </h3>
                </div>
            </div>
            <br>
            <div class="text-center">

                <form action="/create_four/" method="POST" id="post-form">
                    <div class="">
                        identifiant:<br><input type="text" id="umid" disabled>
                    </div>
                    <div>
                        nom: <br><input type="text" id="nom">
                    </div>
                    <br>
                    <div class="selsel">
                        Type de fournisseur <br><select class="form-control" id="fournitype">
                        <script type="text/javascript">
                            $(document).ready(function() {
                                var i = 0;
                                "{% for items in typef %}"
                                //to change
                                var name = "{{ items.nom|safe }}";
                                var oldname;
                                if (i == 0)
                                    $("#fournitype").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                                else if (name != oldname)
                                    $("#fournitype").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                                oldname = name;
                                i = 1;
                                "{% endfor %}"
                            });
                        </script>
                    </select>
                    </div>
                    <br>
                    <input type="button" class="btn btn-primary" id="addfour" value="Save">
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        //alert(window.location.search.substring(1));
        $("#back-row").click( function() {
            location.href = "{% url 'fournisseur' %}";
        });

        "{% for items in four %}"
        if ('{{ items.idFournisseur }}' === '{{ id }}') {
            $("#umid").val('{{ items.idFournisseur }}');
            $("#fournitype").val('{{ items.fk_TypeFournisseur.nom|safe }}');
            $("#nom").val('{{ items.nom|safe }}');
        }

        "{% endfor %}"
        $('#addfour').click(function() {
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/modify_four/", //lien de la view qui gère la requête post
                data: {
                    'name': $('#nom').val(),
                    'id': $('#umid').val(),
                    'fournitype': $('#fournitype').val(),
                    'true': $('#umid').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings) {
                    alert("gg so " + msg);
                },
                failure: function() {
                    alert("fail");
                }
            });
        });

        $("#create-row").click(function() {
            location.href = "{% url 'fournisseuradd' %}";
        });

        $(".fa-chevron-circle-right").click(function() {
            $.ajax({
                type:"POST",
                url:"/right_fournisseur/",
                data: {
                    'id': $('#umid').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    if (msg != "fail")
                        window.location.href = "{% url 'fournisseurmodify' %}?id=" +  msg;
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });

        $(".fa-chevron-circle-left").click(function() {
            $.ajax({
                type:"POST",
                url:"/left_fournisseur/",
                data: {
                    'id': $('#umid').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    if (msg != "fail")
                        window.location.href = "{% url 'fournisseurmodify' %}?id=" +  msg;
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });

        $("#fournitype").combobox();
        $("#toggle").on("click", function() {
            $("#fournitype").toggle();
        });
    });
</script>
{% endblock %}