{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<html>
<div class="container">

    <br>
    <br>
    <br>
    <br>
    <form class="text-center border border-light p-5">
        <p class="h4 mb-4">Sign in</p>

        <!-- id -->
        <input type="text" id="defaultLogin" class="form-control mb-4" placeholder="identifiant">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

        <div class="d-flex justify-content-around">
            <div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
        </div>
        <button class="btn btn-info btn-block my-4" type="submit"><a href="#">Sign in</a></button>
    </form>

</div>

<script>
    if ('{{ activate }}')
        console.log("{{ activate }}");
</script>

<footer class="page-footer font-small blue bottom fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2019 Copyright
    </div>
</footer>
</html>

{% endblock %}