{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<body>
<div class="container">
  <br>
</div>

<script>
  $('#accueil').find('div').eq(0).css({'background-color': 'DodgerBlue',});
  $('#accueil').before(this).find('hr').css({'background-color': 'DodgerBlue',});
  setTimeout(function() {
    $("#openmenu").trigger("click");
    console.log("menu oppening");
  },1000);

</script>

<footer class="page-footer font-small blue bottom fixed-bottom">
  <div class="footer-copyright text-center py-3">© 2019 Copyright
  </div>
</footer>
</body>

{% endblock %}