{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}
<html>

<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em;}
</style>

<div class="container"><h1 class="text-center"> Modif. L.V entree</h1></div>
<br>

<div class="container">
    <div class="form-group row text-center">
        <div class="col">
            <button type="button" id="back-row" class="btn btn-default btn-rounded btn-outline-dark">Tout</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-auto mx-auto">
            <div class="border shadow-lg p-2 mb-3 bg-white rounded">
                <div class="col">
                    <h5 class="text-center"> <u> fichiers </u></h5>
                    <div class="container">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="col-auto">
                                    <form action="/upload_lvef/?" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <p>fichier <i style="cursor: pointer;" class="fa fa-file" id="fichpop"></i></p>
                                            <div class="col-auto">
                                                <input type="file" name="file" id="file" required="True" class="form-control-file">
                                            </div>
                                            <p>photo <i style="cursor: pointer;" class="far fa-image" id="photopop"></i></p>
                                            <div class="col-auto">
                                                <input type="file" name="photo" id="photo" required="True" class="form-control-file">
                                            </div>
                                        </div>
                                        {% for items in lve %}
                                        {% if items.idLettreVoitureEntree == id%}
                                        {% if items.fichier %}
                                        <img id="imgfichier" src="{{ items.fichier.url }}" >
                                        <script>
                                            $('#imgfichier').hide();
                                            $("#fichpop").css("color", "green");
                                            $('#fichpop').click(function () {
                                                var src = $('#imgfichier').attr('src');
                                                $('<div>').css({
                                                    background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
                                                    backgroundSize: 'contain',
                                                    width:'100%', height:'100%',
                                                    position:'fixed',
                                                    zIndex:'10000',
                                                    top:'0', left:'0',
                                                    cursor: 'zoom-out'
                                                }).click(function(){
                                                    $(this).remove();
                                                }).appendTo('body');
                                            });
                                        </script>
                                        {% endif %}
                                        {% if items.photo %}
                                        <img id="imgphoto" src="{{ items.photo.url }}" hidden>
                                        <script>
                                            $("#photopop").css("color", "green");
                                            $('#photopop').click(function () {
                                                var src = $('#imgphoto').attr('src');
                                                $('<div>').css({
                                                    background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
                                                    backgroundSize: 'contain',
                                                    width:'100%', height:'100%',
                                                    position:'fixed',
                                                    zIndex:'10000',
                                                    top:'0', left:'0',
                                                    cursor: 'zoom-out'
                                                }).click(function(){
                                                    $(this).remove();
                                                }).appendTo('body');
                                            });

                                        </script>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        <div class="form-group">
                                            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                                                <button class="btn btn-primary btn-sm">
                                                    <span class="fa fa-upload" style="margin-right:5px;"></span>
                                                    Upload</button>
                                            </div>
                                        </div>
                                        <input type="text" hidden value="{{ id }}" name="idinput" id="idinput">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="border shadow-lg p-2 mb-3 bg-white rounded">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center"> Identification LDV</h3>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="text-center">
                            <div class="row">
                                <div class="col">
                                    <label for="umid">identifiant:</label>
                                    <br><input type="text" id="umid" disabled class="form-control">
                                </div>
                                <div class="col">
                                    <label for="inputMDEx">date de réception:</label>
                                    <input type="date" id="inputMDEx" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">numéro récépissé:<br><input type="text" id="numr" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="qpal">quantité palette:</label>
                                    <br><input type="text" id="qpal" class="form-control">
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-1">
                                                    <button id="accesslve" style="width: 50%; height: 30px;" class="rounded mt-4"><i style="font-size: 50%" class="fa fa-arrow-right"></i></button>
                                                </div>
                                                <div class="col">
                                                    <div class="selsel">
                                                        <label for="transporteur">transporteur:</label>
                                                        <select class="form-control" id="transporteur">
                                                            <script type="text/javascript">
                                                                $(document).ready(function() {
                                                                    var i = 0;
                                                                    "{% for items in trans %}"
                                                                    console.log("transporteur");
                                                                    //to change
                                                                    var name = "{{ items.nom|safe }}";
                                                                    var oldname;
                                                                    if (i == 0)
                                                                        $("#transporteur").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                                                                    else if (name != oldname)
                                                                        $("#transporteur").append(new Option("{{ items.nom|safe }}", "{{ items.nom|safe }}"));
                                                                    oldname = name;
                                                                    i = 1;
                                                                    "{% endfor %}"
                                                                });
                                                            </script>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="inputqc">quantité colis :</label>
                                            <input id="inputqc" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <input type="button" class="btn btn-primary btn-sm ml-3" id="savelve" value="Save">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="border shadow-lg p-2 mb-3 bg-white rounded">
                <h5 class="text-center"> <u> Bons de livraison </u></h5>
                <div class="container">
                    <div class="table-responsive">
                        <table id="tabbl" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th scope="col" class="th-sm text-center"><i class="fa fa-cog"></i></th>
                                <th scope="col" class="th-sm text-center"> client </th>
                                <th scope="col" class="th-sm text-center"> date réception </th>
                                <th scope="col" class="th-sm text-center"> n° BL </th>
                                <th scope="col" class="th-sm text-center"> qte palettes </th>
                                <th scope="col" class="th-sm text-center"> <i class="fa fa-trash"></i> </th>
                            </tr>
                            </thead>
                            <tbody id="tabblbody">
                            {% for items in entree %}
                            <!--<tr>
                                <td> <button id='{{ items.idBonLivraisonEntree }}' class="dyna"> -> </button></td>
                                <td> {{ items.fk_TypeZoneDepot.nom }} </td>
                                <td> {{ items.dateReception }} </td>
                                <td> {{ items.numeroBonLivraison }} </td>
                                <td> <button id='{{ items.idBonLivraisonEntree  }}' class="dynad"> X </button> </td>
                            </tr>-->
                            {% endfor %}
                            </tbody>
                        </table>
                        <button class="btn btn-blue btn-sm" id="addlignebl"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="border shadow-lg p-2 mb-3 bg-white rounded">
                <div class="row">
                    <div class="col">
                        <h5 class="text-center"> <u> Réclamation </u></h5>
                        <br>
                        Quantité colis :<br><input type="text" id="qcrecla" class="form-control">
                        Quantité palettes :<br><input type="text" id="qprecla" class="form-control">
                        commentaire :<br><input type="text" id="comrecla"  class="form-control" style="height: 100px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="border shadow-lg p-2 mb-3 bg-white rounded">
                <h5 class="text-center"> <u>  Ordre de transport </u></h5>
                <div class="container">
                    <div class="table-responsive">
                        <table id="tabbcm" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th scope="col" class="th-sm"><i class="fa fa-cog"></i></th>
                                <th scope="col" class="th-sm"> id </th>
                                <th scope="col" class="th-sm"> date </th>
                                <th scope="col" class="th-sm"> <i class="fa fa-trash"></i> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for items in entree %}
                            <!--<tr>
                                <td> <button id='{{ items.idBonLivraisonEntree }}' class="dyna"> -> </button></td>
                                <td> {{ items.fk_TypeZoneDepot.nom }} </td>
                                <td> {{ items.dateReception }} </td>
                                <td> {{ items.numeroBonLivraison }} </td>
                                <td> <button id='{{ items.idBonLivraisonEntree  }}' class="dynad"> X </button> </td>
                            </tr>-->
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirm" title="Ajouter des lignes">
    Combien de lignes faut-il ajouter ?</p>
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        <input id="numberligne" type="text" pattern="[0-9]+">
</div>
<br>
<br>
<script>
    $(document).ready(function() {
        $("#tabblbody").on( "click", ".dynad", function() {
            '{% for items in entree %}'
            if ('{{ items.idBonLivraisonEntree|safe }}' == $(this).attr('id')) {
                var object = $(this);
                $.ajax({
                    type:"POST",
                    url:"/lve/modify/deletebl/",
                    data: {
                        'id': '{{ items.idBonLivraisonEntree }}',
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(msg, data, settings) {
                        console.log("success: " + msg);
                        object.parent().parent().remove();
                    },
                    failure: function() {
                        alert("fail");
                    }
                });
            }
            '{% endfor %}'
        });

        $('#accesslve').click(function () {
            '{% for items in trans %}'
            if ('{{ items.nom|safe }}' == $('#transporteur').val().trim()) {
                //alert("there");
                window.location.href = "{% url 'transporteurmodify' %}?id={{ items.idTransporteur }}";
            }
            '{% endfor %}'
        });

        $("#back-row").click( function() {
            location.href = "{% url 'lve' %}";
        });

        $('#savelve').click(function() {
            $.ajax({
                type:"POST",
                url:"/lve/modify/",
                data: {
                    'id': $('#umid').val(),
                    'dater': $('#inputMDEx').val(),
                    'numr': $('#numr').val(),
                    'qpalette': $('#qpal').val(),
                    'transp': $('#transporteur').val(),
                    'qcolis': $('#inputqc').val(),
                    'quantitecolrecla': $('#qcrecla').val(),
                    'quantitepalrecla': $('#qprecla').val(),
                    'comrecla': $('#comrecla').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings) {
                    console.log("success: " + msg);
                    window.location.reload();
                },
                failure: function() {
                    alert("fail");
                }
            });
        });
        $("#umid").val('{{ id }}');
        '{% for items in lve %}'
        if ('{{ items.idLettreVoitureEntree }}' == $("#umid").val()) {
            $("#inputMDEx").val('{{ items.datereception|safe }}');
            $("#numr").val('{{ items.numerorecepisse|safe }}');
            $("#qpal").val('{{ items.quantitepalette|safe }}');
            $("#inputqc").val('{{ items.quantitecolis|safe }}');
            $("#qcrecla").val('{{ items.reclaquantitecolis|safe }}');
            $("#qprecla").val('{{ items.reclaquantitepalette|safe }}');
            $("#comrecla").val('{{ items.reclacomm|safe }}');
            $("#transporteur").val("{{ items.fk_Transporteur|escapejs }}");
        }
        '{% endfor %}'

        '{% for items in entree %}'
        if ('{{ items.fk_LettreVoitureEntree.idLettreVoitureEntree }}' == $("#umid").val()) {
            console.log("bl in lv charge");
            $('#tabblbody').append("<tr><td class='text-center'><button class='resetb dyna' id=\"{{ items.idBonLivraisonEntree }}\"><i class=\"fa fa-arrow-right\"></i></button></td>" +
                "<td class='text-center'> <input disabled class='form-control' value='{{ items.fk_Client.nom }}'></td>" +
                "<td><input disabled class='form-control' value='{{ items.dateReception|safe }}'></td>" +
                "<td><input disabled class='form-control' value='{{ items.numeroBonLivraison|safe  }}'></td>" +
                "<td><input disabled class='form-control' value='{{ items.quantitePalette|safe }}'></td>" +
                "<td class='text-center'><button class='resetb btn btn-light btn-sm dynad' id=\"{{ items.idBonLivraisonEntree }}\"><i class=\"fa fa-trash-alt\"></i></button></td>");
        }
        '{% endfor %}'

        $('#addlignebl').click(function() {
            $("#dialog-confirm").dialog("open");
        });
        var nbrligne = 0;
        $("#dialog-confirm").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Annuler": function() {
                    $('#numberligne').val("");
                    $(this).dialog("close");
                },
                ok: function() {
                    nbrligne = $('#numberligne').val();
                    $('#numberligne').val("");
                    $(this).dialog("close");
                    var upperid = "0";
                    "{% for items in entree %}"
                    if (parseInt(upperid, 10) < parseInt('{{ items.idBonLivraisonEntree }}', 10)) {
                        upperid = parseInt('{{ items.idBonLivraisonEntree }}', 10);
                    }
                    "{% endfor %}"
                    var created = 0;
                    for (var nbr = nbrligne; nbr > 0; nbr--) {
                        upperid++;
                        $('#tabblbody').append("<tr><td class='text-center'><button class='resetb dyna' id=\""+upperid+"\"><i class=\"fa fa-arrow-right\"></i></button></td>"+
                            "<td class='text-center'><input disabled class='form-control'></td>" +
                            "<td><input disabled class='form-control'></td>" +
                            "<td><input disabled class='form-control'></td>" +
                            "<td><input disabled class='form-control'></td>" +
                            "<td class='text-center'><button class='resetb btn btn-light btn-sm dynad' id=\""+upperid+"\"><i class=\"fa fa-trash-alt\"></i></button></td>");
                        var success = 0;
                        $.ajax({
                            type:"POST",
                            url:"/lve/modify/createbl/",
                            data: {
                                'id': $('#umid').val(), //id de la lettre qui va crée un bl
                                'trueid': upperid, //id que va prendre le bl que je prends a l'avance pour avoir un controle sur lui
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                            },
                            success: function(msg, data, settings) {
                                console.log("success: " + msg);
                                //window.location.reload();
                                //issucess();
                                created++;
                                creattest();
                            },
                            failure: function() {
                                alert("fail");
                            }
                        });
                        function creattest() {
                            if (created == nbrligne) {
                                window.location.reload();
                            }
                        }
                        /*function issucess() {
                            '{% for items in entree %}'
                            '{% if forloop.last %}'
                            $('#tabblbody').find('tr').last().find('td').eq(0).find('button').attr("id", "{{ items.idBonLivraisonEntree }}");
                            $('#tabblbody').find('tr').last().find('td').eq(1).find('input').val("{{ items.fk_Client.nom }}");
                            $('#tabblbody').find('tr').last().find('td').eq(2).find('input').val("{{ items.dateReception }}");
                            $('#tabblbody').find('tr').last().find('td').eq(3).find('input').val("{{ items.numeroBonLivraison }}");
                            $('#tabblbody').find('tr').last().find('td').eq(4).find('input').val("{{ items.quantitePalette }}");
                            $('#tabblbody').find('tr').last().find('td').eq(5).find('button').attr("id", "{{ items.idBonLivraisonEntree }}");
                            alert('{{ items.idBonLivraisonEntree }} 1');
                            '{% else %}'
                            alert('{{ items.idBonLivraisonEntree }} 2');
                            '{% endif %}'
                            '{% endfor %}'
                        }*/
                    }
                    //code fournisseur
                    for (var a = nbrligne; a != 0; a--) {
                        $("#blfournisseur" + a).combobox();
                    }
                    $("#toggle").on("click", function () {
                        for (var a = nbrligne; a != 0; a--) {
                            $("#blfournisseur" + a).toggle();
                        }
                    });
                    for (var a = nbrligne; a != 0; a--) {
                        $("#iddesif" + a).combobox();
                    }
                    $("#toggle").on("click", function () {
                        for (var a = nbrligne; a != 0; a--) {
                            $("#iddesif" + a).toggle();
                        }
                    });

                    $(".fournise").combobox({
                        select: function (event, ui) {
                            '{% for items in art %}'
                            if ('{{ items.codeFournisseur|safe }}' == this.value) {
                                console.log("therae");
                                //$(this).closest('td').next().find('select').val('{{ items.designationClient }}');
                                //$(this).closest('td').next().find('select').find('option').remove();
                                $(this).closest('td').next().find('select').find('option').remove();
                                $(this).closest('td').next().find('select').append(new Option("{{ items.designationClient|safe }}", "{{ items.designationClient|safe }}"));
                            }
                            '{% endfor %}'
                        }
                    });
                    $(".desif").combobox({
                        select: function (event, ui) {
                            '{% for items in art %}'
                            if ('{{ items.designationClient|safe }}' == this.value) {
                                console.log("therae");
                                //$(this).closest('td').next().find('select').val('{{ items.designationClient }}');
                                //$(this).closest('td').next().find('select').find('option').remove();
                                $(this).closest('td').prev().find('select').find('option').remove();
                                $(this).closest('td').prev().find('select').append(new Option("{{ items.codeFournisseur|safe }}", "{{ items.codeFournisseur|safe }}"));
                            }
                            '{% endfor %}'
                        }
                    });
                    $('.resetb').click(function () {
                        //alert("gg " + $(this).attr('id'));
                        //var id = $(this).attr('id');
                        $(this).closest('td').parent().find('td').eq(0).next().find('select').find('option').remove();
                        $(this).closest('td').parent().find('td').eq(1).next().find('select').find('option').remove();
                        '{% for items in art %}'
                        $(this).closest('td').parent().find('td').eq(0).next().find('select').append(new Option("{{ items.codeFournisseur|safe }}", "{{ items.codeFournisseur|safe }}"));
                        $(this).closest('td').parent().find('td').eq(1).next().find('select').append(new Option("{{ items.designationClient|safe }}", "{{ items.designationClient|safe }}"));
                        '{% endfor %}'
                    });
                }
            },
        });

        $("#dialog-confirm").dialog("close");
        $('body').on('click', '.butctrl', function() {
            if ($(this).hasClass("btn-light")) {
                $(this).removeClass("btn-light");
                $(this).addClass("btn-success");
                $(this).find($("i")).removeClass('fa-thumbs-down').addClass('fa-thumbs-up');
            }
            else
            {
                $(this).removeClass("btn-success");
                $(this).addClass("btn-light");
                $(this).find($("i")).removeClass('fa-thumbs-up').addClass('fa-thumbs-down');
            }
        });

        $(document).on("input", "input", function (event) {
            if (this.checkValidity()) {
                $(this).data('last-valid', this.value);
            }
            else {
                var myvalue = $(this).text();
                if($.isNumeric($('#numberligne').val())) {
                    console.log("numeric");
                } else {
                    console.log("not numeric");
                    $('#numberligne').popover({
                        trigger: 'manual',
                        title: 'Warning!',
                        content: 'Value can not be empty',
                        placement: 'left',
                    }).popover('show');
                    setTimeout(closederror, 2000);
                }
                this.value = $(this).data('last-valid') || "";
            }
        });

        function checkligne() {
            $("#numberligne").popover({trigger: 'manual', content: "Input only numbers!", placement : 'right'});
            $("#numberligne").popover('show');
        };
        function closederror() {
            $("#numberligne").popover('dispose');
        };

        $.widget( "custom.combobox", {
            _create: function() {
                this.wrapper = $( "<span>" )
                    .addClass( "custom-combobox" )
                    .insertAfter( this.element );

                this.element.hide();
                this._createAutocomplete();
                this._createShowAllButton();
            },
            _createAutocomplete: function() {
                var selected = this.element.children( ":selected" ),
                    value = selected.val() ? selected.text() : "";

                this.input = $("<input>")
                    .appendTo( this.wrapper)
                    .val(value)
                    .attr("title", "")
                    .addClass("custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left")
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy(this, "_source")
                    })
                    .tooltip({
                        classes: {
                            "ui-tooltip": "ui-state-highlight"
                        }
                    });
                this._on( this.input, {
                    autocompleteselect: function(event, ui) {
                        ui.item.option.selected = true;
                        this._trigger("select", event, {
                            item: ui.item.option
                        });
                    },
                    autocompletechange: "_removeIfInvalid"
                });
            },
            _createShowAllButton: function() {
                var input = this.input,
                    wasOpen = false;
                $("<a>")
                    .attr("tabIndex", -1)
                    .attr("title", "Show All Items")
                    .tooltip()
                    .appendTo(this.wrapper)
                    .button({
                        icons: {
                            primary: "ui-icon-triangle-1-s"
                        },
                        text: false
                    },)
                    .removeClass("ui-corner-all")
                    .addClass("custom-combobox-toggle ui-corner-right")
                    .on("mousedown", function() {
                        wasOpen = input.autocomplete("widget").is(":visible");
                    })
                    .on("click", function() {
                        input.trigger("focus");
                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }
                        // Pass empty string as value to search for, displaying all results
                        input.autocomplete("search", "");
                    });
            },
            _source: function(request, response) {
                var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                response(this.element.children("option").map(function() {
                    var text = $(this).text();
                    if (this.value && (!request.term || matcher.test(text)))
                        return {
                            label: text,
                            value: text,
                            option: this
                        };
                }) );
            },
            _removeIfInvalid: function(event, ui) {
                // Selected an item, nothing to do
                if (ui.item) {
                    return;
                }
                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children("option").each(function() {
                    if ($(this).text().toLowerCase() === valueLowerCase) {
                        this.selected = valid = true;
                        return false;
                    }
                });
                // Found a match, nothing to do
                if (valid) {
                    return;
                }
                // Remove invalid value
                this.input
                    .val("")
                    .attr("title", value + " didn't match any item")
                    .tooltip("open");
                this.element.val("");
                this._delay(function() {
                    this.input.tooltip("close").attr("title", "");
                }, 2500);
                this.input.autocomplete("instance").term = "";
            },
            _destroy: function() {
                this.wrapper.remove();
                this.element.show();
            },
        });
        $("#transporteur").combobox();
        $("#toggle").on("click", function () {
            $("#transporteur").toggle();
        });

        $('.dyna').click(function () {
            console.log("this id = " + $(this).attr('id'));
            var idClicked = $(this).attr('id');
            var name = "";
            var trueid = 0;
            //alert(idClicked);
            "{% for items in entree %}"
            if ('{{ items.id }}' == idClicked) {
                name = '{{ items.nom }}';
                trueid = '{{ items.id }}';
            }
            "{% endfor %}"
            window.location.href = "{% url 'bonLivraisonEntreemodify' %}?id=" + idClicked + "&" + "name=" + name + "&" + "trueid=" + trueid;
        });
    });
</script>
</html>
{% endblock %}
