{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<div class="container"><h1 class="text-center"> Liste des Litiges ou Deci.Litiges</h1></div>
<br>

<div class="container">
    <div class="row text-center">
        <div class="col">
            <hr><br> <h4><b>Veuillez choisir quelle catégorie vous voulez administrez.</b></h4>
        </div>
    </div>
    <br><hr>

    <div class="row text-center">
        <div class="col">
            <button type="button" id="chooselit" class="btn btn-success btn-rounded btn-outline-dark">Litiges</button>
        </div>
        <div class="col">
            <button type="button" id="choosedeci" class="btn btn-success btn-rounded btn-outline-dark">Decisions Litiges</button>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <hr><br><button type="button" id="create" class="btn btn-success btn-rounded btn-outline-dark" style="display: none">Ajouter</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border shadow-lg p-3 mb-5 bg-white rounded" id="maindiv">

                <table id="litiges" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th scope="col" class="th-sm"> modify </th>
                        <th scope="col" class="th-sm"> nom </th>
                        <th scope="col" class="th-sm"> delete </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for items in litige %}
                    <tr>
                        <td> <a href='{% url "litigesmodify" %}?id={{items.idLitige|safe }}'><button id='{{ items.idLitige }}' class="dyna"> -> </button></a></td>
                        <td> {{ items.nom }} </td>
                        <td> <button id='{{ items.idLitige }}' class="dynadlitige"> X </button> </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th> modify</th>
                        <th>nom</th>
                        <th>delete</th>
                    </tr>
                    </tfoot>
                </table>

                <table id="decilitiges" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th scope="col" class="th-sm"> modify </th>
                        <th scope="col" class="th-sm"> nom </th>
                        <th scope="col" class="th-sm"> delete </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for items in decilitige %}
                    <tr>
                        <td> <a href='{% url "decilitigesmodify" %}?id={{items.idLitige|safe }}'><button id='{{ items.idLitige }}' class="dyna"> -> </button></a></td>
                        <td> {{ items.nom }} </td>
                        <td> <button id='{{ items.idLitige }}' class="dynaddeci"> X </button> </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th> modify</th>
                        <th>nom</th>
                        <th>delete</th>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.dataTables_length').addClass('bs-select');
        //$('#transporteurs').fadeTo("slow", 0.5);
        var ajout = 0;
        $('#maindiv').hide();
        $('#litiges').hide();
        $('#decilitiges').hide();

        $('#chooselit').click(function () {
            $('#maindiv').show();
            $('#litiges').show();
            $('#create').show();
            $('#choosedeci').hide();
            $('#chooselit').hide();

            $('#litiges').DataTable();
            ajout = 2;
            console.log("tab litige show");
        });

        $('#choosedeci').click(function () {
            $('#maindiv').show();
            $('#decilitiges').show();
            $('#create').show();
            $('#choosedeci').hide();
            $('#chooselit').hide();
            $('#decilitiges').DataTable();
            ajout = 1;
        });

        $('#create').click(function () {
            if (ajout == 0) {

            } else if (ajout == 1) {
                window.location.href = "{% url 'decilitigesadd' %}";
            }
            if (ajout == 2) {
                window.location.href = "{% url 'litigesadd' %}";
            }
        });

        $(document).on("click", "button.dynadlitige" , function(e) {
            var idClicked = e.target.id;
            $.ajax({
                type:"POST",
                url:"/settings/litiges/delete/",
                data: {
                    'name': $('#nom').val(),
                    'id': idClicked,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    location.reload();
                },
                failure: function() {
                    console.log("fail");
                    location.reload();
                }
            });
        });

        $(document).on("click", "button.dynaddeci" , function(e) {
            var idClicked = e.target.id;
            $.ajax({
                type:"POST",
                url:"/settings/litiges/deletedeci/",
                data: {
                    'name': $('#nom').val(),
                    'id': idClicked,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    location.reload();
                },
                failure: function() {
                    console.log("fail");
                    location.reload();
                }
            });
        });
    });
</script>
{% endblock %}
