{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<body>
<div class="container">
    <form method="post" novalidate enctype="multipart/form-data"  style="text-align: left;font-weight:bold;">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-success" style="position:sticky;bottom: 0; margin-left: 45%;">Valider</button>
        <button id="resetimg" type="button" class="btn btn-outline-blue-grey btn-sm"><i class="fa fa-undo"></i></button>
    </form>

    <div class="row">
        <div class="col mx-auto">
            <button type="button" title="Crée ou géré les utilisateurs" id="createuserbtn" class="btn btn-info"><i class="fa fa-user-plus" style="font-size: 30px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createtypefournisseur" title="Crée les types de fournisseurs." class="btn btn-info"><i class="fa fa-user-tie" style="font-size: 30px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createzone" class="btn btn-info" title="crée des zonnes de dépots"><i class="fa fa-warehouse" style="font-size: 30px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createtypedes" class="btn btn-info" title="Crée les types de destinataires"><i class="fa fa-parachute-box" style="font-size: 30px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createtypeart" class="btn btn-info" title="Crée les types d'articles"><i class="fa fa-boxes" style="font-size: 30px"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto">
            <button type="button" title="Crée ou géré les types de Zones" id="createzonetype" class="btn btn-info"><i class="fa fa-file-prescription" style="font-size: 40px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createtypecontact" title="Crée les types de contactes." class="btn btn-info"><i class="fa fa-address-book" style="font-size: 30px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createpays" title="Crée les pays pour destinataires." class="btn btn-info"><i class="fa fa-flag" style="font-size: 37px"></i></button>
        </div>

        <div class="col mx-auto">
            <button type="button" id="createlitiges" title="Crée ou modif. des Litiges, Lit.Decisions..." class="btn btn-info"><i class="fa fa-project-diagram" style="font-size: 30px; width: 30px"></i></button>
        </div>
        <div class="col mx-auto">
        </div>
    </div>
</div>
</body>

<script>
    /*setTimeout(function() {
        $("#openmenu").trigger("click");
    },1000);*/

    $('#resetimg').click(function () {
        $.ajax({
            type:"POST",
            url:"/setting/reset/",
            data: {
                'id': 1,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(msg, data, settings) {
                location.reload();
            },
            failure: function() {
                alert("Error");
            }
        });
    });

    $("#image_to_upload").on("change", function(e) {
        /*e.preventDefault();
        var form_data = new FormData();
        var image = document.getElementById('image_to_upload').files[0].name;
        form_data.append('image', image);
        $.ajax({
            type:"POST",
            url: '/settings/change/accueil/',
            contentType: "multipart/form-data",
            data: {
                form_data : form_data,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            traditional: true,
            cache: false,
            success: function(msg, data, settings) {
                console.log("success: " + msg);
            },
            failure: function() {
                alert("fail");
            }
        });*/
    });
    $(document).ready(function() {
        $('#createuserbtn').click(function () {
            window.location.href = "{% url 'register' %}"
        });
        $('#createtypefournisseur').click(function () {
            window.location.href = "{% url 'create_typefour' %}"
        });
        $('#createzone').click(function () {
            window.location.href = "{% url 'zonedepot' %}"
        });
        $('#createtypedes').click(function () {
            window.location.href = "{% url 'typedest' %}"
        });
        $('#createtypeart').click(function () {
            window.location.href = "{% url 'typeart' %}"
        });
        $('#createzonetype').click(function () {
            window.location.href = "{% url 'typezone' %}"
        });
        $('#createtypecontact').click(function () {
            window.location.href = "{% url 'typecont' %}"
        });
        $('#createpays').click(function () {
            window.location.href = "{% url 'pays' %}"
        });
        $('#createlitiges').click(function () {
            window.location.href = "{% url 'litiges' %}"
        });

        $('#createtypefournisseur').tooltip();
        $('#createuserbtn').tooltip();
        $('#createzone').tooltip();
        $('#createtypedes').tooltip();
        $('#createtypeart').tooltip();
        $('#createzonetype').tooltip();
        $('#createtypecontact').tooltip();
        $('#createpays').tooltip();
        $('#createlitiges').tooltip();
        $('button').eq('2').addClass('btn btn-sm btn-blue-grey');
        //$('label').eq(0).hover(function () {

        $('table tbody').find('tr').eq(0).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover1 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover1.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/mailbox.jpg'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(0).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(1).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover2 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover2.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/lift.jpg'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(1).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(2).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover3 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover3.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/AWS-icon.png'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(2).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(3).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover4 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover4.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/client-est-roi1.jpg'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(3).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(4).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover5 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover5.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/ordre_du_jour.jpg'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(4).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(5).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover6 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover6.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/mailbox.jpg'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(5).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(6).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover7 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover7.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/Liste des points à traiter.png'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(6).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(7).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover8 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover8.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/Isuzu-removal-truck.jpg'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(7).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(8).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover9 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover9.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/normal_ian-symbol-vehicle-suv.png'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(8).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(9).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover10 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover10.url }}',
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper',
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/supplier-management.jpg'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper',
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(9).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(10).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover11 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover11.url }}',
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper',
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/normal_ian-symbol-vehicle-suv.png'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper',
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(10).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(11).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover12 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover12.url }}',
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper',
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/promotion-produit.png'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper',
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(11).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(12).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover13 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover13.url }}',
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper',
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/p-red-truck.png'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper',
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(12).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

        $('table tbody').find('tr').eq(13).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover14 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ items.cover14.url }}',
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper',
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    src: '{{ STATIC_URL }} /static/img/p-red-truck.png'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper',
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_').height('200px');
                $('#preview_gallery_image_').css('float','right');
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(13).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });

    });
</script>
{% endblock %}
