{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<body>
<div class="container">
    <form method="post" novalidate enctype="multipart/form-data"  style="text-align: left;font-weight:bold;">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-success" style="position:sticky;bottom: 0; margin-left: 45%;">Valider</button>
        <button id="resetimg" type="button" class="btn btn-outline-blue-grey btn-sm"><i class="fa fa-undo"></i></button>
    </form>

    <div class="row">
        <div class="col mx-auto">
            <button type="button" title="Crée ou géré les utilisateurs" id="createuserbtn" class="btn btn-info"><i class="fa fa-user-plus" style="font-size: 30px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createtypefournisseur" title="Crée les types de fournisseurs." class="btn btn-info"><i class="fa fa-user-tie" style="font-size: 30px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createzone" class="btn btn-info" title="crée des zonnes de dépots"><i class="fa fa-warehouse" style="font-size: 30px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createtypedes" class="btn btn-info" title="Crée les types de destinataires"><i class="fa fa-parachute-box" style="font-size: 30px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createtypeart" class="btn btn-info" title="Crée les types d'articles"><i class="fa fa-boxes" style="font-size: 30px"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto">
            <button type="button" title="Crée ou géré les types de Zones" id="createzonetype" class="btn btn-info"><i class="fa fa-file-prescription" style="font-size: 40px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createtypecontact" title="Crée les types de contactes." class="btn btn-info"><i class="fa fa-address-book" style="font-size: 30px"></i></button>
        </div>
        <div class="col mx-auto">
            <button type="button" id="createpays" title="Crée les pays pour destinataires." class="btn btn-info"><i class="fa fa-flag" style="font-size: 37px"></i></button>
        </div>

        <div class="col mx-auto">
            <button type="button" id="createlitiges" title="Crée ou modif. des Litiges, Lit.Decisions..." class="btn btn-info"><i class="fa fa-project-diagram" style="font-size: 30px; width: 30px"></i></button>
        </div>
        <div class="col mx-auto">
        </div>
    </div>
</div>
</body>

<script>
    /*setTimeout(function() {
        $("#openmenu").trigger("click");
    },1000);*/

    $('#resetimg').click(function () {
        $.ajax({
            type:"POST",
            url:"/setting/reset/",
            data: {
                'id': 1,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(msg, data, settings) {
                location.reload();
            },
            failure: function() {
                alert("Error");
            }
        });
    });

    $("#image_to_upload").on("change", function(e) {
        /*e.preventDefault();
        var form_data = new FormData();
        var image = document.getElementById('image_to_upload').files[0].name;
        form_data.append('image', image);
        $.ajax({
            type:"POST",
            url: '/settings/change/accueil/',
            contentType: "multipart/form-data",
            data: {
                form_data : form_data,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            traditional: true,
            cache: false,
            success: function(msg, data, settings) {
                console.log("success: " + msg);
            },
            failure: function() {
                alert("fail");
            }
        });*/
    });
    $(document).ready(function() {
        $('#createuserbtn').click(function () {
            window.location.href = "{% url 'register' %}"
        });
        $('#createtypefournisseur').click(function () {
            window.location.href = "{% url 'create_typefour' %}"
        });
        $('#createzone').click(function () {
            window.location.href = "{% url 'zonedepot' %}"
        });
        $('#createtypedes').click(function () {
            window.location.href = "{% url 'typedest' %}"
        });
        $('#createtypeart').click(function () {
            window.location.href = "{% url 'typeart' %}"
        });
        $('#createzonetype').click(function () {
            window.location.href = "{% url 'typezone' %}"
        });
        $('#createtypecontact').click(function () {
            window.location.href = "{% url 'typecont' %}"
        });
        $('#createpays').click(function () {
            window.location.href = "{% url 'pays' %}"
        });
        $('#createlitiges').click(function () {
            window.location.href = "{% url 'litiges' %}"
        });

        $('#createtypefournisseur').tooltip();
        $('#createuserbtn').tooltip();
        $('#createzone').tooltip();
        $('#createtypedes').tooltip();
        $('#createtypeart').tooltip();
        $('#createzonetype').tooltip();
        $('#createtypecontact').tooltip();
        $('#createpays').tooltip();
        $('#createlitiges').tooltip();
        $('button').eq('2').addClass('btn btn-sm btn-blue-grey');
        //$('label').eq(0).hover(function () {

        $('table tbody').find('tr').eq(0).mouseenter(function () {
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover1 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    class: 'admin-hotel-gallery-image' ,
                    src: '{{ items.cover1.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                //$('dv').append('<img id="img1" src="{{ items.cover1.url }}" class="img-fluid rounded text-left" alt="promotion-produit" height="75" width="75">');

                '{% else %}'

                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    class: 'admin-hotel-gallery-image' ,
                    src: '{{ STATIC_URL }} /static/img/normal_ian-symbol-vehicle-suv.png'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                    //background: url("{{ STATIC_URL }} /static/img/normal_ian-symbol-vehicle-suv.png"),
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                //$('dv').append('<img id="img1" src="{{ STATIC_URL }} /static/img/normal_ian-symbol-vehicle-suv.png" class="img-fluid rounded text-left" alt="promotion-produit" height="75" width="75">');
                '{% endif %}'
                $('#preview_gallery_image_wrapper_').css({'margin': '0 auto',
                    'top': '0 auto',});
            }
            '{% endfor %}'
        });
        $('table tbody').find('tr').eq(0).mouseenter(function () {
            $('#gallery-wrapper').remove();
        });

        $('label').eq(2).mouseenter(function () {
            alert("there");
            $('#preview_gallery_image_wrapper_').remove();
            '{% for items in settings %}'
            if ('{{ items.id }}' == 1) {
                '{% if items.cover2 %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    class: 'admin-hotel-gallery-image' ,
                    src: '{{ items.cover2.url }}'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_',
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% else %}'
                console.log("imgcreat");
                var image = $('<img />', {
                    id:'preview_gallery_image_',
                    class: 'admin-hotel-gallery-image' ,
                    src: '{{ STATIC_URL }} /static/img/lift.jpg'
                });
                var imageDiv = $('<div >',{
                    id: 'preview_gallery_image_wrapper_'
                });
                image.appendTo(imageDiv);
                var finalElement = $('<div/>',{
                    id: 'gallery-wrapper'
                });
                imageDiv.appendTo(finalElement);
                finalElement.appendTo($('body').find('div').eq(0));
                '{% endif %}'
                $('#preview_gallery_image_wrapper_').css({'margin': '0 auto',
                    'top': '0 auto',});
            }
            '{% endfor %}'
        });
        $('label').eq(1).mouseleave(function () {
            $('#gallery-wrapper').remove();
        });
    });
</script>
{% endblock %}
