{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em;}
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container"><h1 class="text-center"> Modification du Transporteur </h1></div>
<br>
<div class="container">
    <div class="form-group row text-center">
        <div class="col">
            <i class="fa fa-chevron-circle-left" style="font-size:45px;cursor: pointer;"></i>
        </div>

        <div class="col">
            <button type="button" id="back-row" class="btn btn-default btn-rounded btn-outline-dark">Tout</button>
        </div>
        <div class="col">
            <button type="button" id="create-row" class="btn btn-success btn-rounded btn-outline-dark">Ajouter</button>
        </div>
        <div class="col">
            <i class="fa fa-chevron-circle-right" style="font-size:45px;cursor: pointer;"></i>
        </div>

    </div>
</div>

<div class="container">
    <div class="row" style="width: auto; height: 100%;">
        <div class="border shadow-lg p-3 mb-5 bg-white rounded col text-center">
            <div class="row">
                <div class="col">
                    <h3 class=""> identification </h3>
                </div>
            </div>
            <br>
            <br>
            <form action="/create_trans/" method="POST" id="post-form">
                <br>
                <div class="">
                    identifiant:<br><input  class="text-center" type="text" id="umid" name="id_transporteur" disabled>
                </div>
                <div>
                    nom: <br><input class="text-center" type="text" id="nom" name="nom_transporteur">
                </div>
                <br>
                <input type="button" class="btn btn-primary" id="modify" value="Save">
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        //alert(window.location.search.substring(1));
        $("#back-row").click( function() {
            location.href = "{% url 'transporteur' %}";
        });
        $("#umid").val('{{ id }}');
        $("#nom").val('{{ name|safe }}');
        "{% for items in trans %}"
        if ('{{ items.idTransporteur }}' === '{{ id }}') {
            $("#umid").val('{{ items.idTransporteur }}');
            $("#nom").val('{{ items.nom|safe }}');
        }
        "{% endfor %}"

        $('#modify').click(function() {
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/modify_trans/", //lien de la view qui gère la requête post
                data: {
                    'name': $('#nom').val(), // nom du transporteur récuperer dans le input #nom
                    'id': $('#umid').val(), // id du transporteur acquis grace a une incrementation en js
                    'true': $('#umid').val(), // id du transporteur acquis grace a une incrementation en js
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings){
                    console.log("gg so " + msg);
                    location.reload();
                },
                failure: function() {
                    console.log("fail");
                    location.reload();
                }
            });

        });

        $(".fa-chevron-circle-right").click(function() {
            $.ajax({
                type:"POST",
                url:"/right_trans/",
                data: {
                    'id': $('#umid').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    if (msg != "fail")
                        window.location.href = "{% url 'transporteurmodify' %}?id=" +  msg;
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });

        $(".fa-chevron-circle-left").click(function() {
            $.ajax({
                type:"POST",
                url:"/left_trans/",
                data: {
                    'id': $('#umid').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    if (msg != "fail")
                        window.location.href = "{% url 'transporteurmodify' %}?id=" +  msg;
                },
                failure: function() {
                    console.log("fail");
                }
            });
        });

    });
</script>
{% endblock %}