{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<body>

<div class="container"><h1 class="text-center"> U.M. Sortie </h1></div>
<br>

<div class="container">
    <div class="form-group row text-center">
        <div class="col">
            <button type="button" id="back-row" class="btn btn-default btn-rounded btn-outline-dark">Tout</button>
        </div>
        <div class="col">
            <button type="button" id="create-row" class="btn btn-success btn-rounded btn-outline-dark">Ajouter</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border shadow-lg p-3 mb-5 bg-white rounded">
                <div class="table-responsive">
                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th scope="col" class="th-sm"> modify </th>
                            <th scope="col" class="th-sm"> emplacement </th>
                            <th scope="col" class="th-sm"> type zone </th>
                            <th scope="col" class="th-sm"> n° BL </th>
                            <th scope="col" class="th-sm"> date création </th>
                            <th scope="col" class="th-sm"> date réception </th>
                            <th scope="col" class="th-sm"> identifiant </th>
                            <th scope="col" class="th-sm"> stock </th>
                            <th scope="col" class="th-sm"> delete </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for items in ums %}
                        <tr>
                            <td> <button type="button" id='{{ items.idUniteManutentionSortie }}' class="dyna btn btn-sm btn-outline-grey rounded"> <i class="fa fa-arrow-right"></i> </button></td>
                            <td> {{ items.fk_ZoneDepot.nom }} </td>
                            <td> {{ items.fk_TypeZoneDepot.nom }} </td>
                            <td> {{ items.fk_BonLivraisonSortie.numeroBonLivraison }} </td>
                            <td> {{ items.c_horodatage }} </td>
                            <td> {{ items.dateReception }} </td>
                            <td> {{ items.idUniteManutentionSortie }} </td>
                            <td> {{ items.stock }} </td>
                            <td> <button id='{{ items.idUniteManutentionSortie }}' class="dynad btn btn-sm btn-outline-grey rounded-pill"> <i class="fa fa-minus"></i>   </button> </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>modify </th>
                            <th>emplacement </th>
                            <th>type zone </th>
                            <th>n° BL </th>
                            <th>date création </th>
                            <th>date réception </th>
                            <th>identifiant </th>
                            <th>stock </th>
                            <th>delete </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
        $('#umsg').fadeTo("slow", 0.5);
    });

    $("#create-row").click(function() {
        location.href = "{% url 'unitemanutentionsortieadd' %}";
    });

    $(document).on("click", "button.dyna" , function(e) { // event pour modifier les sortie transporteur
        var idClicked = e.target.id;
        var name = "";
        var trueid = 0;
        alert(idClicked);
        "{% for items in ums %}"
        if ('{{ items.idUniteManutentionSortie }}' == idClicked) {
            name = '{{ items.nom }}';
            trueid = '{{ items.id }}';
        }
        "{% endfor %}"
        window.location.href = "{% url 'unitemanutentionsortiemodify' %}?id=" + idClicked + "&" + "name=" + name + "&" + "trueid=" + trueid;
    });

    $(document).on("click", "button.dynad" , function(e) { // event pour delete la ligne sélectionner
        var idClicked = e.target.id;
        alert(idClicked);
        $.ajax({
            type:"POST",    //type de requête utilisé par ajax
            url:"/delete_ums/", //lien de la view qui gère la requête post pour supprimer une sortie
            data: {
                'name': $('#nom').val(), // nom du transporteur récuperer dans le input #nom
                'id': idClicked, // id du transporteur acquis grace a une incrementation en js
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(msg, data, settings){
                console.log("gg " + msg);
                location.reload();
            },
            failure: function() {
                console.log("fail");
                location.reload();
            }
        });
    });
</script>
{% endblock %}
