{% extends user.is_authenticated|yesno:"base_generic.html,empty.html" %}

{% block content %}

<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em;}
    .ui-dialog {overflow: visible;}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container"><h1 class="text-center"> modif U.M Sortie</h1></div>
<br>

<div class="container">
    <div class="form-group row text-center">
        <div class="col">
            <button type="button" id="back-row" class="btn btn-default btn-rounded btn-outline-dark">Tout</button>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="border shadow-lg p-3 mb-5 bg-white rounded col-md-auto table-responsive">
                <h5><u> Identifiants </u></h5>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="form-group text-left ml-5">
                            <label for="idums"> identifiant:&nbsp; </label>
                            <input type="text" class="form-control text-center w-responsive" id="idums" placeholder="0" style="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="desti"> destinataire:&nbsp; </label>
                            <input type="text" class="form-control input-lg text-center" id="desti" readonly="readonly" style="cursor: pointer;">
                        </div>
                        <div class="form-group text-left ml-5">
                            <label for="bcsid">Bon&nbsp;commande:&nbsp; </label>
                            <input type="text" class="form-control text-center w-responsive" id="bcsid" placeholder="0" readonly="readonly" style="cursor: pointer;">
                        </div>
                        <div class="form-group text-left ml-5">
                            <label for="blsid"> Bon livraison :&nbsp; </label>
                            <input type="text" class="form-control" id="blsid" placeholder="0" style="cursor: pointer" readonly="readonly">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group text-left ml-5">
                            <label for="codeum"> Code UM : &nbsp; </label>
                            <input type="text" class="form-control" id="codeum" placeholder="0" style="" disabled>
                        </div>
                        <div class="form-group text-left ml-5">
                            <label for="umsnum"> numéro : &nbsp; </label>
                            <input type="text" class="form-control" id="umsnum" placeholder="0" style="" disabled>
                        </div>
                    </div>
                </div>

                <h6><u> poids [kg] </u></h6>
                <div class="row text-left">
                    <div class="col">
                        <label for="pbrute"> brute:&nbsp; </label>
                        <input type="text" class="form-control" id="pbrute" placeholder="0">
                    </div>
                    <div class="col">
                        <label for="ptare"> tare:&nbsp; </label>
                        <input type="text" class="form-control" id="ptare" placeholder="0">
                    </div>
                    <div class="col">
                        <label for="pnet"> net:&nbsp; </label>
                        <input type="text" class="form-control" id="pnet" placeholder="0" disabled>
                    </div>
                    <div class="col">
                        <label for="pdiff"> diff:&nbsp; </label>
                        <input type="text" class="form-control" id="pdiff" placeholder="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="border shadow-lg p-3 mb-5 bg-white rounded col-md-auto table-responsive">
                    <h6><u> poids [kg] </u></h6>
                    <br>
                    <div class="row text-left">
                        <div class="col">
                            <label for="dateo"> Ouverture : &nbsp; </label>
                            <input type="date" class="form-control" id="dateo">
                        </div>
                        <br>
                    </div>
                    <div class="row text-left">
                        <div class="col">
                            <label for="datef"> Fermeture : &nbsp; </label>
                            <input type="date" class="form-control" id="datef">
                        </div>
                    </div>
                    <br>
                    <div class="row text-left">
                        <div class="col">
                            <label for="datee"> Expédition : &nbsp; </label>
                            <input type="date" class="form-control" id="datee">
                        </div>
                    </div>
                </div>
                <!--Impression de l'etiquette UM  via le button UM
                Impression des listes de colisages via le button LC-->
                <a target="_blank" rel="noopener noreferrer" href="{% url 'etiquetteUMs' %}?id={{id}}"><button class="btn btn-outline-light-blue" type="button" id="umetiquette"><i class="fa fa-print" style="font-size: 20px"></i><br>UM</button></a>
                <a target="_blank" rel="noopener noreferrer" href="{% url 'etiquetteUMscolissage' %}?id={{id}}"><button class="btn btn-light-blue" type="button" id="umetiquettelc"><i class="fa fa-print" style="font-size: 20px"></i><br>LC</button></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="border shadow-lg p-2 mb-3 bg-white rounded mx-auto rounded table-responsive">
            <h5 class="text-center"> <u> Lignes U.M Sorties</u> (colis)</h5>
            <div class="">
                <table id="tabbl" class="table table-sm table-striped table-bordered rounded" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center"><i class="fa fa-copy"></i></th>
                        <th scope="col" class="text-center">&nbsp;&nbsp;&nbsp;n°colis&nbsp;&nbsp;&nbsp;</th>
                        <th scope="col" class="text-center">&nbsp;code&nbsp;client&nbsp;:</th>
                        <th scope="col" class="text-center">&nbsp;désignation&nbsp;</th>
                        <th scope="col" class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;n°lot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th scope="col" class="text-center">date péremption</th>
                        <th scope="col" class="text-center">qte<br>par&nbsp;colis</th>
                        <th scope="col" class="text-center">litige</th>
                        <th scope="col" class="text-center">confirmer</th>
                        <th scope="col" class="text-center"><i class="">Délier UM.s</i></th>
                    </tr>
                    </thead>
                    <tbody id="tabblbody">
                    {% for items in colis %}
                    {% if items.fk_UniteManutentionSortie.idUniteManutentionSortie == id %}
                    <tr>
                        <td><a target="_blank" rel="noopener noreferrer" href="{% url 'unitemanutentionentreemodify' %}?id={{ items.fk_UniteManutentionEntree.idUniteManutentionEntree }}"> <button class='btn btn-sm  btn-outline-grey rounded-pill w-25' id="{{ items.idColis }}"><i class="fa fa-copy ml-n2" style='cursor:pointer;'><br>um.e</i></button></a></td>
                        <td><input class='form-control' disabled id='ncolis{{items.idColis}}' value="{{ items.idColis }}"></td>
                        <td><select class="form-control fournise " id="blfournisseur{{items.idColis}}"></select></td>
                        <td><select class="form-control desif" id="iddesif{{items.idColis}}"></select></td>
                        <td><input class='form-control' value='{{ items.numeroLot }}'></td>
                        <td><input type="date" class="date rounded" class="form-control" value='{{ items.datePeremption }}'></td>
                        <td><input type="text" class="form-control" value='{{ items.quantiteProduit }}'></td>

                        <td><!--<button type="button" class="btn btn-grey btn-sm addmodal" data-toggle="popover" id="{{ items.idColis }}">Litiges</button><div id="newDialogText{{ items.idColis }}">Litige<br>-->
                            litige <select class="myselect form-control-sm w-75" id="litigebox{{ items.idColis }}">
                            </select><br>déci. litige
                            <select class="myselect2 form-control-sm" id="decilitigebox{{ items.idColis }}" ></select></td>
                        {% if items.emplacementConfirme == "1" %}
                        <td class='text-center'><i class="fa fa-toggle-on mt-2" style='font-size: 25px;cursor:pointer;'></i></td>
                        {% endif %}
                        {% if items.emplacementConfirme == "0" %}
                        <td class='text-center'><i class="fa fa-toggle-off mt-2" style='font-size: 25px;cursor:pointer;'></i></td>
                        {% endif %}
                        <td><button class="resorting btn btn-sm rounded-pill" id="{{ items.idColis }}"> <i class="fa fa-unlink" style='font-size: 24px;cursor:pointer;color: orangered;'></i> </button> </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <script>
                        $(document).ready(function() {
                            '{% for items in colis %}'
                            '{% for itemsart in article %}'
                            if ('{{ items.fk_Article.codeFournisseur}}' == '{{ itemsart.codeFournisseur}}') {
                                $("#blfournisseur"+"{{items.idColis}}").append(new Option("{{itemsart.codeFournisseur}}", "{{itemsart.codeFournisseur}}", true, true));
                                $("#iddesif" + "{{items.idColis}}").append(new Option("{{ itemsart.designationClient }}", "{{itemsart.designationClient}}", true, true));
                            }
                            else {
                                $("#blfournisseur" + "{{items.idColis}}").append(new Option("{{ itemsart.codeFournisseur }}", "{{itemsart.codeFournisseur}}"));
                                $("#iddesif" + "{{items.idColis}}").append(new Option("{{ itemsart.designationClient }}", "{{itemsart.designationClient}}"));
                            }
                            '{% endfor %}'
                            '{% for itemsli in litige %}'
                            $("#litigebox" + '{{items.idColis}}').append(new Option("{{ itemsli.nom|safe }}", "{{ itemsli.nom|safe }}"));
                            '{% endfor %}'

                            '{% for itemsdli in decilitige %}'
                            $("#decilitigebox" + '{{items.idColis}}').append(new Option("{{ itemsdli.nom|safe }}", "{{ itemsdli.nom|safe }}"));
                            '{% endfor %}'
                            $("#litigebox" + '{{items.idColis}}').append(new Option("0", "0", true, true));
                            $("#decilitigebox" + '{{items.idColis}}').append(new Option("0", "0", true, true));
                            $("#blfournisseur"+"{{items.idColis}}").combobox();
                            $("#iddesif"+"{{items.idColis}}").combobox();
                            $("#toggle").on("click", function () {
                                $("#blfournisseur"+"{{items.idColis}}").toggle();
                                $("#iddesif"+"{{items.idColis}}").toggle();
                            });
                            '{% endfor %}'
                            $(".desif").combobox({
                                select: function (event, ui) {
                                    '{% for items in article %}'
                                    console.log("desii");
                                    if ('{{ items.designationClient }}' == $(this).val()) {
                                        $(this).closest('td').prev().find('select').find('option').remove();
                                        $(this).closest('td').prev().find('select').append(new Option("{{ items.codeFournisseur }}", "{{ items.codeFournisseur }}"));
                                    }
                                    '{% endfor %}'
                                }
                            });
                            $(".fournise").combobox({
                                select: function (event, ui) {
                                    '{% for items in article %}'
                                    console.log("fourni");
                                    if ('{{ items.codeFournisseur }}' == this.value) {
                                        $(this).closest('td').next().find('select').find('option').remove();
                                        $(this).closest('td').next().find('select').append(new Option("{{ items.designationClient }}", "{{ items.designationClient }}"));
                                    }
                                    '{% endfor %}'
                                }
                            });

                        });
                    </script>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<script>
    $(document).ready(function() {
        $('#back-row').click(function () {
            window.location.href = "{% url 'unitemanutentionsortie' %}";
        });

        '{% for items in ums %}'
        if ('{{ items.idUniteManutentionSortie }}' == '{{ id }}') {
            $('#idums').val("{{ items.idUniteManutentionSortie }}");
            $('#desti').val("{{ items.fk_BonCommandeSortie.fk_Destinataire.nom|safe }}");
            $('#bcsid').val("{{ items.fk_BonCommandeSortie.idBonCommandeSortie|safe }}");
            $('#blsid').val("{{ items.fk_BonLivraisonSortie.idBonLivraisonSortie|safe }}");
            $('#codeum').val("{{ items.fk_BonCommandeSortie.fk_Destinataire.codeUM|safe }}");
            $('#umsnum').val("{{ items.numero|safe }}");
            //alert("{{ items.dateOuverture }}");
            $('#dateo').val("{{ items.dateOuverture|safe }}");
            $('#datef').val("{{ items.dateFermeture }}");
            $('#datee').val("{{ items.dateExpedition }}");
        }
        '{% endfor %}'
        $('#dateo').change(function () {
            //alert($('#dateo').val());
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/umsortie/modify/dateouverture/", //lien de la view qui gère la requête post pour trier les colis des um entree vers des bcs avec une ums ouverte
                data: {
                    'id' : $('#idums').val(),
                    'dateouverture' : $('#dateo').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    //location.reload();
                },
                failure: function() {
                    console.log("fail");
                    //location.reload();
                }
            });
        });
        $('#datef').change(function () {
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/umsortie/modify/datefermeture/", //lien de la view qui gère la requête post pour trier les colis des um entree vers des bcs avec une ums ouverte
                data: {
                    'id' : $('#idums').val(),
                    'datefermeture' : $('#datef').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    //location.reload();
                },
                failure: function() {
                    console.log("fail");
                    //location.reload();
                }
            });
            //alert($('#datef').val());
        });
        $('#datee').change(function () {
            $.ajax({
                type:"POST",    //type de requête utilisé par ajax
                url:"/umsortie/modify/dateexpedition/", //lien de la view qui gère la requête post pour trier les colis des um entree vers des bcs avec une ums ouverte
                data: {
                    'id' : $('#idums').val(),
                    'dateexpedition' : $('#datee').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(msg, data, settings){
                    console.log("gg " + msg);
                    //location.reload();
                },
                failure: function() {
                    console.log("fail");
                    //location.reload();
                }
            });
            //alert($('#datee').val());
        });

        $('.resorting').click(function () {
            var objectid = $(this).parent().parent().find('td').eq(1).find('input').val();
            //alert(objectid);
            $.ajax({
                type: "POST",    //type de requête utilisé par ajax
                url: "/ume/delieums/", //lien de la view qui gère la requête post pour trier les colis des um entree vers des bcs avec une ums ouverte
                data: {
                    'id': objectid,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (msg, data, settings) {
                    console.log("gg " + msg);
                    //location.reload();
                    window.location.reload();
                },
                failure: function () {
                    console.log("fail");
                    //location.reload();
                }
            });
        });

        $('#desti').click(function () {
            var iddes = "0";
            '{% for items in ums %}'
            if ('{{ items.idUniteManutentionSortie }}' == '{{ id }}') {
                iddes = '{{ items.fk_BonCommandeSortie.fk_Destinataire.idDestinataire|safe }}';
            }
            '{% endfor %}'
            if (iddes != "0") {
                window.location.href = "{% url 'destinatairemodify' %}?id=" + iddes;
            }
        });
        $('#blsid').click(function () {
            var idbls = "0";
            '{% for items in ums %}'
            if ('{{ items.idUniteManutentionSortie }}' == '{{ id }}') {
                idbls = '{{ items.fk_BonLivraisonSortie.idBonLivraisonSortie|safe }}';
            }
            '{% endfor %}'
            if (idbls != "0") {
                window.location.href = "{% url 'bonLivraisonSortiemodify' %}?id=" + idbls;
            }
        });
        $('#bcsid').click(function () {
            var idbcs = "0";
            '{% for items in ums %}'
            if ('{{ items.idUniteManutentionSortie }}' == '{{ id }}') {
                idbcs = '{{ items.fk_BonCommandeSortie.idBonCommandeSortie|safe }}';
            }
            '{% endfor %}'
            if (idbcs != "0") {
                window.location.href = "{% url 'bonCommandeSortiemodify' %}?id=" + idbcs;
            }
        });
        //sorting (trie) du tableau par rapport a ncolis, je recois des objets en js, puis les passe en jquery avec le $ pour utiliser les fonctions jquery
        if ($('#tabblbody').length > 0) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("tabbl");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[1];
                    var xx = $(x);
                    y = rows[i + 1].getElementsByTagName("TD")[1];
                    var yy = $(y);
                    //if (x.innerHTML > y.innerHTML) {
                    //alert(xx.find('input').val().trim());
                    if (parseInt(xx.find('input').val().trim()) > parseInt(yy.find('input').val().trim())) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    });
</script>

{% endblock %}